[2016-10-07 17:16] pinepain commented on #3686
I would even move 5.5 to boneyard. If people want to use outdated version, they have to support them themselves. Vendor lock-in is not an excuse but a faulty policy of such vendors.

[2016-10-07 17:43] #3678 closed

[2016-10-07 18:11] pinepain commented on #3686
Based on stats, php53 and php56 could be removed without any doubts. php55 is also having negative dynamics and could be also considered as a candidate for removal from mainstream. It's nice to see that php71 is raising.

[php53 statistics:](https://bintray.com/homebrew/bottles-php/php53/view#statistics)
![php53](https://cloud.githubusercontent.com/assets/2185793/19200416/8edc3e10-8cd1-11e6-9d73-c

[2016-10-07 19:08] josegonzalez commented on #3686
5.6 is the currently supported 5.x release, so I'm 👎 on removing that. Also 👎 on removing 5.5 as CakePHP requires at least that (I can play favorites since I started this tap :P).

Anything below 5.5 can be moved to the boneyard imo.

[2016-10-07 19:44] pinepain commented on #3686
@josegonzalez sorry, not 5.6 but 5.4 was a typo.

5.5 is quite arguable, but afaik CakePHP doesn't require 5.5, it requires [`"php": ">=5.5.9",`](https://github.com/cakephp/cakephp/blob/b03309f98fa281944c91fd0a77ae88d2bd1450d2/composer.json#L21). Can we then remove 5.5 from mandatory version when providing upgrades for formulas?

[2016-10-07 19:54] josegonzalez commented on #3686
I'd like to support the minimum version, and just having 5.5 around isn't terrible. We can revisit next year.

[2016-10-07 20:05] pinepain commented on #3686
Makes sense.

[2016-10-07 20:22] ablyler commented on #3686
I also like the idea of keeping 5.5 as a minimum version.

[2016-10-07 21:18] eppfel commented on #3633
As I still have this problem, could you share how you got the older version @niksy ?

[2016-10-08 07:53] javian commented on #3686
Looking at the Google Analytics data we have over the last month

PHP Version | Standard Installs |Custom Installs (using cmd line options)
-------------|------------|----------
5.3 | ~900|~350
5.4 |~2000 |~470
5.5 | ~6300 |~1800
5.6 | ~19400|~6500
7.0 | ~31000|~6100
7.1 | ~5000|~940

[2016-10-08 10:19] pinepain commented on #3686
Surprisingly, It looks like even 5.4 still quite popular among developers.

Does Google Analytics count repetitive installation? While GA and bintray statistics correlates, it looks like GA counts all installation types, even reinstall when bottle is already cached.

Does GA have some numbers to figures out actual users number?

[2016-10-08 13:53] javian commented on #3686
@pinepain yes it does but I was looking at the unique numbers so people who installed it more than once on the same account should not count twice.

Here's an example from php7

![screen shot 2016-10-08 at 15 52 04](https://cloud.githubusercontent.com/assets/527069/19213561/44b6bdb2-8d6f-11e6-90a9-5825c6494f2f.png)

[2016-10-08 15:05] alcaeus commented on #3686
Looking at the GA numbers @javian posted, we get the following percentages (I added up the regular and custom installs):

PHP version | Percentage
-----------|-----------
5.3 | 1.55%
5.4 | 3.06%
5.5 | 10.03%
5.6 | 32.07%
7.0 | 45.94%
7.1 | 7.36%

PHP 5.3 and 5.4 amount for 4.61% of all installs, which in my opinion means we could easily drop them. 5.5 only accounts for 10% of installs, but I'm in

[2016-10-08 20:33] javian commented on #3686
I think my numbers might be off now that I give it a second thought. For instance with the last apache/sierra updates the people who issued the new command line option should be subtracted from the standard installs since they did not use the the option previously for instance. It doesn't change the numbers substantially though.

If we decide to boneyard the older formulas we'd still have a few pr

[2016-10-08 20:52] javian commented on #3686
Also just to give it some additional context compared to other brew packages PHP 5.3 with ~1300 installs/updates in the last month puts it on the top 600 formulas of the ~8800 formula installs that were recorded in the last month.

[2016-10-09 04:23] y284663247 opened #3688 "how to use mac apache with php56"
## Description

how to use mac apache with php56 not brew http24
_Problem description goes here_
i user "brew install php56" but don't have libphp5.so file,so i use "brew install php56 --with-apache",but brew install http24 in my mac,i don't want it ,i only want to use mac apache,how can i do it??
## Context and Logs

| Parameter | Value |
| --- | --- |
| **OS X Version:** | macos Sierra |
| **Hom

[2016-10-10 05:59] JuanLuisGarciaBorrego commented on #3688
I have the same problem

[2016-10-10 16:03] JuanLuisGarciaBorrego commented on #3601
Is there any news?

[2016-10-10 16:06] byCedric commented on #3601
@Kyslik I upgraded to MacOS sierra, but it damaged a lot of other programs too. I did a reinstall and awaiting for a new PHP version to see if it still "removes" the apache support. Thanks for your quick response!

[2016-10-10 16:14] Kyslik commented on #3601
Bad move mate, I still use 10.10 because I am afraid of drastic changes Apple introduced...

And no problem. As I understand on sierra you have to install Apache with php because apple does not ship apache with sierra.

Sent from iPhone

[2016-10-10 17:42] impdesigns commented on #3601
This problem was resolved for me once I realized I'd not installed the command line tools from upgraded Xcode.

[2016-10-10 17:47] p3palazzo commented on #3601
Reinstalling `php70 --with-apache` followed by `brew unlink httpd24` worked for me.

--
Pedro Paulo Palazzo
Professor adjunto (Assistant professor)
Laboratório de Estudos da Urbe (LabeUrbe)
Universidade de Brasília
http://brasilia.academia.edu/p3palazzo

[2016-10-10 21:19] pdmulvey commented on #3686
Hi all. I'll start by saying that I am very appreciative of the work done by the maintainers of this project, and I completely understand the impulse to drop the older, unsupported versions of PHP. Unfortunately, however, the real world does not march in time with PHP's release cycle, and so I'm here to argue the same point I made in #1327: these versions should be kept given how useful they are t

[2016-10-11 11:56] aberenyi opened #3690 "Build fails when using --with-postgresql"
## Description

I've tried to build multiple versions (`php56`, `php70`, `php71`) with `--with-postgresql`, unfortunately every single one of them failed with
[code]

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.11.6
**Homebrew Version:**   | 1.0.7
**PHP Version in use:** | 5.5.36
**Xcode Version:**      | 8.0 (8A218a)

**Output of gcc -v:**
[c

[2016-10-11 14:21] aberenyi commented on #3690
**UPDATE** I've just updated to Sierra and it compiles just fine.

I'll leave this open in case someone else is facing this.

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12
**Homebrew Version:**   | 1.0.7
**PHP Version in use:** | 5.6.24 / 7.0.11
**Xcode Version:**      | N/A

**Output of gcc -v:**
[code]

**Output of php -v:**
_before_
[code]

[2016-10-11 20:56] ernani commented on #3633
It seems there is no route other than use httpd24 from brew and inactivate the system's Apache.

The dylib from system's apache uses apr util v6 where httpd24's uses v4

dyld: Library not loaded: /usr/local/opt/apr-util/lib/libaprutil-1.0.dylib
Reason: Incompatible library version: httpd requires version 6.0.0 or later, but libaprutil-1.0.dylib provides version 4.0.0

[2016-10-11 21:25] javian commented on #3690
I'm not sure what could be the problem here. In your first post it seems to detect postgres just fine
[code]
It might be that this is a leftover that was supposed to be removed since the code has moved into a seperate module called php70-pdo-pgsql

[2016-10-11 21:46] javian commented on #3690
It seems that there are several people that have had your issue previously that you mentioned at the top but I could not find a solution for it.

[2016-10-12 05:06] niksy commented on #3633
@eppfel since that problem was showing to a colleague of mine, I’ve used my older version .so file to get desired behavior.

[2016-10-12 07:57] developer-lindner commented on #1106
@black-snow me too, got a broken local dev environment now. thank you guys! -.-

[2016-10-12 08:02] aberenyi commented on #3690
@javian I had the same thought, so I've also tried to uninstall PostgreSQL with all its deps, reinstall it and give php7 another try. Same result. Quite weird.

[2016-10-12 19:50] javian commented on #1106
@developer-lindner @black-snow please file a seperate issues - the OP is 2 years old and is most likely not related to your issues.

[2016-10-12 20:18] iandouglas commented on #3236
@josegonzalez I just tried following the docs and still get errors about unlinking previous versions. In the meantime, I just install a version I want, unlink it, install the next version, unlink it, etc., and then wrote some bash aliases to unlink all versions (just in case) and then link up whichever one I want to use for now. Not at ALL elegant, but it's functional.

[2016-10-12 20:30] javian commented on #3236
@iandouglas there's also the `homebrew/php/brew-php-switcher` formula that also does something similar.

[2016-10-12 20:37] javian commented on #3236
@josegonzalez no there's been no update to the documentation as far as I can see.

[2016-10-12 20:52] bickart commented on #3602
I have the same issue brand new install of 10.11.6

`$ brew install php56 --with-apache
==> Installing php56 from homebrew/php
==> Installing dependencies for homebrew/php/php56: libpng
==> Installing homebrew/php/php56 dependency: libpng
==> Downloading https://homebrew.bintray.com/bottles/libpng-1.6.25.el_capitan.bottle.tar.gz
Already downloaded: /Users/richa/Library/Caches/Homebrew/libpng-1.6.2

[2016-10-12 20:59] javian commented on #3602
@bickart how does your issue relate to the one in the op ?

[2016-10-12 21:02] javian commented on #3690
Could this explain it ? http://stackoverflow.com/questions/23918889/trying-to-install-ruby-2-1-2-with-rbenv-on-osx-build-failed

[2016-10-12 21:02] bickart commented on #3602
@javian the last error message in my post is the exact same error ;

php56 failing with Incompatible library version: libphp5.so requires version 41.0.0 or later, but libpng16.16.dylib provides version 38.0.0 #3602

[2016-10-12 21:07] javian commented on #3602
@bickart That's a reference to this issue though. The title of that section is `These open issues may also help` .

What I can tell from your log is that
[code]
So that ought to be your real issue if I'm not mistaken.

[2016-10-12 21:09] javian commented on #3632
@Tenzian did you have another look at this ?

[2016-10-12 21:10] javian commented on #3656
The postgres merge is awaiting Formula dependency updates before it can be merged.

[2016-10-12 21:17] bickart commented on #3602
How do I keep the log? After the error; the log is gone

[2016-10-12 21:24] javian commented on #3602
@bickart /Users/richa/Library/Logs/Homebrew/php56/01.configure you don't have that file or are you referring to the log messages about the c compiler ?

[2016-10-12 21:30] bickart commented on #3602
@javian the console.log that is in /private/tmp/php56-20161012-42354-itr0ld/php-5.6.26

[2016-10-12 22:00] javian commented on #3602
The console.log is in /Users/richa/Library/Logs/Homebrew/php56/ not the private directory.

[2016-10-13 04:55] #3676 closed

[2016-10-13 04:59] javian commented on #3688
You can not install php on macOS sierra since Apple has removed the tools necessary to do so. Therefore we need to install the httpd package to make the apache module compile and as far as I know this compiled version is not compatible with the system apache.

[2016-10-13 10:20] feivorid commented on #1953
thx a lot, it work!

[2016-10-13 13:56] warrenmelnick commented on #3602
My problem was solved by cleaning out the old versions of other homebrew
modules which had been left behind and were interfering.

On Wed, Oct 12, 2016 at 6:00 PM, Jan Viljanen <notifications@github.com>
wrote:

--
Warren Melnick
warrenmelnick@gmail.com
AIM: WarrenMAtHome
Skype: WarrenMelnick

[2016-10-13 18:22] javian commented on #3602
@warrenmelnick thanks for letting us know.

[2016-10-13 19:11] javian commented on #2483
Do you know why the LaunchOnlyOnce needs to be removed ?

[2016-10-13 19:17] mariusvw commented on #2483
In case PHP-fpm crashes it wont get restarted if LaunchOnlyOnce is there.

[2016-10-13 20:00] javian commented on #2483
Looking at the manual it seems like a bad option for fpm indeed
[code]

[2016-10-13 20:06] javian commented on #3599
The bottle has been regenerated now and should no longer cause an issue.

[2016-10-13 20:06] #3599 closed

[2016-10-13 20:08] javian commented on #2483
I was looking back through the commit logs and found this https://github.com/Homebrew/homebrew-php/issues/370 which is the issue where LaunchOnlyOnce was added so according to that we should not remove it.

[2016-10-14 00:14] diwao11 opened #3703 "homebrew php70 linking error... directory not empty"
## Description
When I try to switch to php70, I get this...
_Problem description goes here_
Linking /usr/local/Cellar/php70/7.0.11_5... Error: Directory not empty - /usr/local/opt/php70
## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12
**Homebrew Version:**   | 1.0.7-44-gbad1483
**PHP Version in use:** | 7
**Xcode Version:**      | _your Xcode ve

[2016-10-14 04:20] jajajaime commented on #2766
Happening to me still:
PHP Warning:  Version warning: Imagick was compiled against Image Magick version 1685 but version 1686 is loaded. Imagick will run but may behave surprisingly in Unknown on line 0

[2016-10-14 20:35] javian commented on #3703
Can you check what's in the /usr/local/opt/php70 directory ?

[2016-10-14 20:36] javian commented on #3677
This should be resolved now after I updated the bottles.

[2016-10-14 20:36] #3677 closed

[2016-10-14 20:38] javian commented on #3571
Closing due to no response.

[2016-10-14 20:38] #3571 closed

[2016-10-14 20:41] matrunchyk commented on #3571
Sorry, I forgot to answer. It works now! Thank you!

[2016-10-14 23:46] diwao11 commented on #3703
Hi javian, there is a /var directory which includes an /log directory which has a php-fpm.log file.

[2016-10-15 08:26] javian commented on #3703
If that file is not important to you then delete or try to `brew link --force` and see if that works.

[2016-10-15 08:27] javian commented on #3690
Since the issues is resolved I'm going to close the issue.

[2016-10-15 08:27] #3690 closed

[2016-10-15 08:45] javian commented on #3665
Could you highlight the most popluar packages and we can start with those ?

[2016-10-15 12:38] drblue commented on #3633
I had the same problem last week when I was trying to get xdebug installed, but after a few hours of struggling I have homebrew/php56 (v5.6.26_3) running with El Capitan apache 2.4. Had to install php56 with the apache option (took a while as it had to compile the so), my `.bash_history` doesn't contain the exact commands but if my memory doesn't fail me I ended up with `brew install homebrew/php5

[2016-10-15 14:59] pinepain commented on #3665
All formulas which has been updated before sierra target was added to BrewTestBot needs to be regenerated. I'm not sure where to look when that change was performed, but apparently we can regenerate all bottles which has not been updated within past 1 week or 10 days. Or I can bump all formulas which has not sierra target, which looks like a more cleaner approach (though, not sure how to PR all th

[2016-10-15 15:23] javian commented on #3665
Yeah, I did `grep -L ':sierra' *` to list them so I'll start going through them.

[2016-10-15 18:16] pinepain commented on #3665
Thank you very much!

[2016-10-16 04:50] derimagia commented on #3590
Seems that this causes an issue where the php arguments are lost so you can't use aliases to disable xdebug for composer. I went back to the docs on composer and it  looks like it breaks the docs for xdebug since it says it's using homebrew for the examples: https://getcomposer.org/doc/articles/troubleshooting.md#xdebug-impact-on-composer

I think we should should be able to do this instead:

[cod

[2016-10-16 14:54] javian commented on #3665
Its over 550 Formulas so its going to take a while.

[2016-10-17 10:27] byCedric commented on #3601
After the update for homebrew's PHP `7.0.12_5` my `libphp7.so` disappeared once again. Even though I removed both apache and php from my system and reinstalled it with `php70 --with-apache`. As a side note, I was using the homebrew provided apache (not OSX's apache). I'm also now using MacOS's Sierra. Here is a [gist](https://gist.github.com/byCedric/4474ffcdc4c56449f6408c0a1cead80b) I created fro

[2016-10-17 11:33] Tenzian commented on #3632
I've rebuilt uising 5.6.27_4 and --build-from-source.

LDAP works fine using PHP CLI but the apache module still has the same failed assertion and abort:

[code]

So, it looks like the issue is with building libphp5.so --with-apache

in
[01.configure.txt](https://github.com/Homebrew/homebrew-php/files/533301/01.configure.txt)
I can see a warning:

 You have built PHP for Apache's current non-threa

[2016-10-17 13:33] Tenzian commented on #3632
Found the problem: It's with the apache install & not PHP's libhp5.so.

The brewed version of openldap needs to be installed `--with-sssvlv` before httpd24 is brew installed `--with-ldap`.

If `brew install httpd24 --with-ldap` does the initial install of openldap as a dependency it misses this out.

[2016-10-17 14:35] shadowhand opened #3711 "mcrypt extension requires libtool"
## Description

When installing `php71-mcrypt` from a fresh installation, the following error will be presented:

[code]

The error goes away after installing libtool with `brew install libtool`.
## Context and Logs

| Parameter | Value |
| --- | --- |
| **OS X Version:** | 10.12 (16A323) |
| **Homebrew Version:** | 1.0.7 |
| **PHP Version in use:** | PHP 7.1.0RC3 |
| **Xcode Version:** | 8.0 (8A2

[2016-10-17 14:46] marcvdm opened #3713 "Ioncube for php 7"
The Ioncube loaders for php7 where released on 26th september, could they be added here so we can use php7 with ioncube?

[2016-10-17 17:37] diwao11 commented on #3703
Thank you. All fixed. I deleted the entire folder, not sure why php70 came as a directory and then re-installed through brew. Thanks!

[2016-10-17 17:37] #3703 closed

[2016-10-17 20:51] javian commented on #3713
Can you submit a PR for it and I will gladly merge it ?

[2016-10-17 20:52] javian commented on #3711
Is there someone else that can verify this behaviour ?

[2016-10-17 20:55] javian commented on #3632
@Tenzian if that's the case we should add it into the dependency code for the respective formulas. Feel free to submit a PR for it.

[2016-10-18 11:48] waltercruz opened #3714 "where is libphp5.so on latest php56?"
## Description

Upgraded my php56, but now, there's no apache module. Something changed?
## Context and Logs

| Parameter | Value |
| --- | --- |
| **OS X Version:** | 10.11.6 |
| **Homebrew Version:** | 1.0.8 |
| **PHP Version in use:** | 5.6 |
| **Xcode Version:** | _your Xcode version_ |

**Output of gcc -v:**
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-

[2016-10-19 08:00] hoshi-takanori commented on #3714
I installed httpd22 and php56 --with-apache22. libphp5.so is at /usr/local/Cellar/httpd22/2.2.31/libexec/libphp5.so (/usr/local/opt/httpd22/libexec/libphp5.so).
 It this a correct behavior?

[2016-10-19 14:06] Zifius commented on #3713
PR #3719 submitted

[2016-10-21 10:11] y284663247 commented on #3688
have can I stop Mac self apache on start,i can use homebrew apache,but restart computer,mac apache is also start

[2016-10-23 01:54] justinlevi commented on #3688
I believe Sierra now comes with php5.6 so for me I just had to remove this from my `/etc/apache2/httpd.conf`

`LoadModule php5_module /usr/local/opt/php56/libexec/apache2/libphp5.so`

Then restart apache with

[code]

[2016-10-23 09:13] javian commented on #3688
@y284663247 you can find that info on this page http://osxdaily.com/2015/08/30/automatically-start-apache-mac-os-x-boot/ and a lot of other websites.

[2016-10-23 09:29] javian commented on #3711
I can reproduce this on my system. It also seems to happen for php70-imagick and there might be others.

[2016-10-23 21:20] benjifisher commented on #3590
Thanks, that is what I was looking for in my first comment, when I suggested a PHP snippet that used `require` (but I could not get it to work).

We still want the two `ini_set()` lines from my snippet.  At least, we should not change the behavior unless we really mean to.

We do not want to hard-code the directory, so I used `__DIR__`.

With those changes, I think that the `composer` executable s

[2016-10-23 23:09] biojazzard commented on #3633
For me the latest working version in OSX 1.0.9  is php55 5.5.32. Personally I had to switch back.

brew switch php55 5.5.32

;-(

[2016-10-24 01:26] derimagia commented on #3590
Looks good to me, and yeah I figured we wouldn't hard code that (was a POC). Also is the benefit of not forking to a new process which causes other issues and is why the script was using exec before.

Only thing I'd recommend would be that we probably would want to generalize if for other programs (See  work that @ablyler did https://github.com/Homebrew/homebrew-php/blob/32d11bf7eeb56fa455efaf600a

[2016-10-24 03:39] benjifisher commented on #3590
If I understand correctly, you are suggesting that we change `AbstractPhpPhar::phar_wrapper`.  Then every formula that extends `AbstractPhpPhar` will get a PHP script instead of a bash script, not just the formula for `composer` (unless the derived formula overrides the `phar_wrapper` method).

It seems reasonable to me, but I do not know this project well enough to be sure.

I just submitted a ne

[2016-10-25 09:07] niksy commented on #3714
This is related to https://github.com/Homebrew/homebrew-php/issues/3633

[2016-10-25 19:20] bradynpoulsen opened #3733 "PHP 7.1 RC5"
## Description

Importing issue from homebrew/brew#1378

Release Candidate 5 is set to be public on the 27th. We have not yet updated to RC4, and I feel it would be pointless to update to it to be out of date in 36 hours.

This issue is for tracking purposes and I am working on a PR right now

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | macOS 10.

[2016-10-25 19:24] GinoPane opened #3734 "Can not install old formulae"
Hello!
Is there any way to install PHP 7.0.2?
Can not find it anywhere. Tried to use homebrew/boneyard, homebrew/versions with no luck.

[2016-10-26 06:02] jameslbrown opened #3736 "Can't compile php70 using '--with-apache'; unrecognized options: --with-mysql"
## Description

Need libphp70.so so Apache 2.4 can use PHP, but when I try to install PHP70 using '--with-apache' option I get:

[code]
## Context and Logs

| Parameter | Value |
| --- | --- |
| **OS X Version:** | 10.11.6 |
| **Homebrew Version:** | 1.0.8 |
| **PHP Version in use:** | 7.0.12 |
| **Xcode Version:** | 8.0 (8A218a) |

**Output of gcc -v:**
gcc -v
Configured with: --prefix=/Library/D

[2016-10-26 09:53] bfontaine opened #3737 "php56-mongodb _clock_gettime error at runtime"
_From @ABXAdmin on October 24, 2016 20:51_

If Homebrew was updated on Aug 10-11th 2016 and `brew update` always says `Already up-to-date.` you need to run: `cd "$(brew --repo)" && git fetch && git reset --hard origin/master && brew update`.
# Please follow the general troubleshooting steps first:
- [ ] Ran `brew update` and retried your prior step?
- [ ] Ran `brew doctor`, fixed as many issues as

[2016-10-26 12:54] bocharsky-bw commented on #3590
Hey @benjifisher ,

Yes, this solution works fine with Ansible for me:
[code]

[2016-10-26 20:21] javian commented on #3737
@ABXAdmin which OS are you on ? El Cap ?
Are you installing from bottle or compiling from source ?

[2016-10-26 20:26] javian commented on #3733
I agree, lets deploy the latest version which I will merge shortly.

[2016-10-26 20:27] #3733 closed

[2016-10-26 20:43] javian commented on #3734
Not easily. We don't keep the version numbers in the code so if its updated then that information only lies in the git history so it might be possible to dig it up from there. The easiest way might be to create your own formula based on the php70.rb and add the version manually to it replacing the variables currently used in the Formula.

[2016-10-26 20:45] javian commented on #3714
@waltercruz yes, the apache module is no longer built by default so you need to use the new command line options (see `brew options php56`) to make it work.

[2016-10-26 20:45] javian commented on #3713
This has now been merged.

[2016-10-26 20:45] #3713 closed

[2016-10-26 20:48] marcvdm commented on #3713
Awesome. Many thanks @Zifius and @javian

[2016-10-27 01:14] ABXAdmin commented on #3737
El Cap

Installing via:
[code]

[2016-10-27 05:06] medz commented on #3686
作为一名中国开发中告诉你，尤其是mac下的phper，使用brew的意义在于，可以安装多个版本的php，并且使用brew link来快速切换，楼主，你不需要，不代表别人需要，就像楼上说的，很多厂商都支持这种情况，你不喜欢这样，那是你，不代表别人，日本可以为一个学生多保留几年一趟列车，为何Homebrew不可以为了虽然不多的老版本开发中需求而保留？哪怕只有一个人需要，为何不保留下来？推动技术革新是对的，但是你这种属于自私行为。我很不解，崇尚个人精神的你们，为什么会有你这种想法存在，我表示很惊讶。
其次，我故意使用我国家的语言来回复你，就是想让你知道，当你的想法实现了，会影响所在某国家的phper。希望你能调研下中国的数据。
Thinks.

[2016-10-27 05:24] alcaeus commented on #3686
As has been previously stated, there is a tap called "boneyard" which houses formula that are no longer supported. The idea is to move php53* and php54* there, so you could just do this:
[code]

Now, it may be that Google Translate didn't do a good job of the rest of your message, but rest assured, I suggested this not because I'm being selfish (ok, maybe I will appreciate updating two fewer formu

[2016-10-27 05:30] medz commented on #3686
@alafon
Thank you for your reply,
When I really hope to do so, is the official version of zend long-term support for PHP after the end of maintenance rather than now.
Thanks.

[2016-10-27 05:32] josegonzalez commented on #3686
@medz This is going to sound extra-harsh, but if thats the case, I'm sure Zend would be willing to provide official installation methods for now EOL'd versions of PHP. Given we aren't Zend, we're going to more closely follow the official deprecation cycle.

[2016-10-27 07:25] niksy commented on #3714
@javian so basically PHP should be installed with `brew install php56 --with-apache24`? Wouldn’t that install Homebrew Apache which is not compatible with system Apache (as seen here https://github.com/Homebrew/homebrew-php/issues/3688#issuecomment-253414766)?

[2016-10-27 07:28] javian commented on #3714
@niksy It is compatible it just doesn't work out of the box like the system apache does. In what way would you see its not compatible ?

[2016-10-27 08:22] CallMeSirLiu commented on #3283
一切都是因为系统升级到sierra,把我本来好端端的系统环境给破坏掉了，造成 GD 库中的 freetype 没了。本来想通过 brew install php56来解决，安装后没有找到对应的 so 文件，造成phpinfo()打印出来的是系统自带的 php，在命令行里面 php-v 是 brew 安装的，百度了半天，抄来抄去的居多，问题没解决。按照上面的建议装了 xcode 的命令行，失败了好几次，终于成功了，现在正在尝试 `brew install php70 --with-apache`,一会儿再 brew unlink httpd4试试，到现在已经折腾了3，4个小时了，心好累，希望能成功。

[2016-10-27 08:26] zeusintuivo commented on #3283
該建議是安裝“ - 沒有阿帕奇”NO APACHE

[2016-10-27 08:57] darronz commented on #3688
Try unlink homebrew apache `brew unlink httpd24`. Then add `LoadModule php5_module /usr/local/opt/php56/libexec/apache2/libphp5.so` to `/etc/apache2/apache.conf` and comment out `LoadModule php5_module libexec/apache2/libphp5.so`. After a restart you should be able to use `sudo apachectl start|stop` from the terminal. As @javian pointed out you can control the startup behaviour using `launchctl`.

[2016-10-27 09:02] niksy commented on #3714
@javian correction: I meant that .so file which is created is not compatible with system Apache. Am I right?

[2016-10-27 09:24] GinoPane commented on #3734
So, if I understand correctly, I can, for example, fork the repo, update php70.rb and then do something like that:

[code]

I this somehow correct?

[2016-10-27 10:15] javian commented on #3734
That's one way of doing it but its probably easier to copy the php70.rb file to php702.rb in your Formula directory and make the appropriate changes to it then you can choose if you want to have the latest 7 version installed as well and don't have to mess with another repo.

[2016-10-27 10:27] javian commented on #3714
@niksy yes

[2016-10-27 10:36] javian commented on #3688
@darronz so you can compile with the brewed httpd24 and use it with the system apache ?

[2016-10-27 10:41] javian commented on #3714
@niksy actually, some people in here are compiling it and using it with the macOS apache but I've not tested it. Maybe you can try and see if it works for you.

[2016-10-27 11:17] zenopopovici commented on #3283
Unlinking works ... I've also used this method. But on every upgrade you have to link / unlink it again.

[2016-10-27 11:49] GinoPane commented on #3734
Yes, it was the most straightforward solution.
Thank you, I'll try it out.

[2016-10-27 14:50] darronz commented on #3688
@javian getting it set up initially was a bit of a headache which is why I edited my previous comment with the note about 3283. To update php I have to relink httpd24 then unlink it again, but yes I am running it with the system apache.

[2016-10-27 15:36] hainuo commented on #3283
重新link下。

发自我的 iPhone

[2016-10-27 15:41] ABXAdmin commented on #3737
El Cap

Installing via:
brew install php56 —with-apache
brew install php56-mongodb

[2016-10-27 19:56] javian commented on #3736
@jameslbrown would the "fix" in this issue help you https://github.com/Homebrew/legacy-homebrew/issues/44405 ? Same error so its a wild guess.

[2016-10-27 19:58] #1366 closed

[2016-10-27 20:05] javian commented on #3737
@ABXAdmin I've been reading about a similar error in https://github.com/mobile-shell/mosh/issues/807 which seems to be the root cause of this issue.

Have you tried to reinstall from source on your machine ?
Have you tried to rerun `xcode-select --install` and then try to install the bottle again ?
If that doesn't work, try once more to install mongodb from source

[2016-10-27 20:32] GinoPane commented on #3734
It worked, thanks.

[2016-10-27 20:32] #3734 closed

[2016-10-28 01:54] ericjohnson1980 commented on #3558
@DomT4 Great thanks as it confused me a lot.

[2016-10-28 02:54] jameslbrown commented on #3736
Thanks javin, but that was not the issue - Xcode CLI Tools were installed.

This is the problem:

unrecognized options: --with-mysql

This is not a valid configure option with PHP 7.x

I found out what the configure command it was using was, then ran it manually after deleting that option. Ie I used:

`./configure --prefix=/usr/local/Cellar/php71/7.1.0-rc.5_9 --localstatedir=/usr/local/var --sysco

[2016-10-28 03:54] niksy commented on #3714
@javian I could try, yes. But what I'm interested in is what actually changed between version so we don't get compiled .so from the start? Is it something Sierra related? Can the default behavior be returned with something like flag `--with-system-apache`?

[2016-10-28 04:04] javian commented on #3736
It sounds unlikely that the additional option is related to me. Did you try and add it again after you compiled successfully to confirm this ?

[2016-10-28 04:06] javian commented on #3714
@niksy For sierra that is not possible unless you make manual changes to your own system (this is due to changes by Apple). For older versions of macOS it could be returned to how it worked previously.

[2016-10-28 11:59] Drarok opened #3741 "php7x-twig is missing"
## Description

The Twig extension is available for PHP 5.3 through 5.6, but is missing for the 7.x branches.

[2016-10-28 12:53] FGM commented on #3736
FWIW, same `--with-mysql` error when installing with the `--with-pear` option (without the `--with-apache`).

[2016-10-28 13:49] sjelfull opened #3742 "Installing php70-pthreads breaks built-in webserver"
## Description

Installing php70-threads together with php70 breaks the built-in webserver, and causes the error under _Context and logs_

It should only be enabled for php-cli?
## Context and Logs

[code]

| Parameter | Value |
| --- | --- |
| **OS X Version:** | macOS Sierra 10.12 (16A323) |
| **Homebrew Version:** | 1.0.8 |
| **PHP Version in use:** | 7.0.12 |
| **Xcode Version:** | 8.0 |

**Ou

[2016-10-28 13:51] FGM opened #3743 "Obsolete non-working version 0.9.1 of php70-rdkafka"
## Description

When installing php70-rdkafka, one gets the 0.9.1 extension.
## Context and Logs

| Parameter | Value |
| --- | --- |
| **OS X Version:** | 10.2.1 |
| **Homebrew Version:** | Homebrew 1.0.8 / Homebrew/homebrew-core (git revision 516f; last commit 2016-10-28) |
| **PHP Version in use:** | 7.0.12 |
| **Xcode Version:** | Version 8.1 (8B62) |

**Output of gcc -v:**
`Configured with: -

[2016-10-28 13:56] FGM commented on #3743
* The current version for PHP 7.0 is 2.0: https://pecl.php.net/package-info.php?package=rdkafka&version=2.0.0
* The current version for PHP 5.x is 1.0

[2016-10-28 20:12] javian commented on #3741
Thanks for your feedback and feel free to scratch your own itch and submit a PR to have it added.

[2016-10-28 20:15] javian commented on #3736
@FGM do you mean the warning ? The error above is that the C compiler can not create executeables - are you seeing that too ?

[2016-10-30 02:15] josegonzalez opened #3746 "Boneyard phpenv recipe"
The [upstream repository](https://github.com/CHH/phpenv) has not been updated in 2 years. While there is an [alternative](https://github.com/phpenv/phpenv), we need to first boneyard the existing one.

What is the usage of our `CHH/phpenv` formula?

[2016-10-30 05:56] javian commented on #3746
There's been 109 install over the past month for the current phpenv package. The projects seems equally stale to me more or less so replacing it with the other one might not be a good idea. phpbrew seems to be a lot more currently active (200 installs over the last month).

[2016-10-30 10:51] josegonzalez commented on #3746
I'm not saying we replace, just boneyard. None of the "install a bunch of different PHP" projects seem to be working out so well, but I would rather not push people to dead projects if at all possible.

[2016-10-31 01:45] henrypenny commented on #3736
I have been trying for days to install php7.0 with apache support. @jameslbrown 's approach was the only way that worked for me.

@javian Yes it looked to me like the C complier can't create the executables.

[2016-10-31 06:02] javian commented on #3736
@henrypenny did you try to run `xcode-select --install` to see if that would have fixed the problem ?

[2016-10-31 19:55] henrypenny commented on #3736
@javian
I already had xcode 8.0 installed so I get:

[code]

I've had a lot of trouble getting 8.1 to update and I'm on limited data right now, so I can't afford to continue to download 4.6 GB and have it fail at 99% over and over :) So - I'm not sure I can answer that right now.

I think it's the --with-mysql option that's causing the problem. But I don't know much about the inner workings of hom

[2016-11-01 01:07] joshuap opened #3750 "php-build version is outdated"
Before we can update the target version of the [php-build Formula](https://github.com/Homebrew/homebrew-php/blob/master/Formula/php-build.rb) we need a new tag/release on the php-build/php-build repo. I have submitted an issue to them for that [here](https://github.com/php-build/php-build/issues/407).

I'm creating this issue to track it on your end; hopefully that's copacetic. :)

[2016-11-01 15:51] moderndeveloperllc opened #3751 "Apache module for PHP7.1 RC5 is showing RC3"
## Description

I've done a `brew upgrade` which pull in RC5. It shows that for the cli version, but the Apache module shows RC3 via `phpinfo()`. Not sure if this is a PHP issue, or a brew issue.

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12.1
**Homebrew Version:**   | Homebrew 1.0.9
**PHP Version in use:** | 7.1 RC(?)
**Xcode Version:**

[2016-11-01 16:02] moderndeveloperllc commented on #3751
I just tried to do a `brew reinstall php71 --with-apache`, but that did not solve the issue. Looking at the above screen show, it looks like PHP is building the module off the old version.

[2016-11-02 01:57] enderandpeter commented on #3711
Yes! This very same thing happened to me after installing homebrew's php71-mcrypt on MacOS Sierra. `brew install libtool` fixed it for me, too. Glad I didn't have to search too far and wide.

[2016-11-02 05:29] javian commented on #3751
@moderndeveloperllc if you check your apache config its likely that the path has not been updated to the new php version. Can you confirm that ?

[2016-11-02 12:32] niksy commented on #3714
@javian Is this too much work? Can we somehow help in making that possible?

[2016-11-02 14:18] moderndeveloperllc commented on #3751
It's actually showing the RC5 module path:
```LoadModule php7_module        /usr/local/Cellar/php71/7.1.0-rc.5_9/libexec/apache2/libphp7.so```

I've definitely restarted Apache - even restarted my machine. I haven't had this issue going along the RC updates to this point.

[2016-11-02 16:25] ilovezfs opened #3752 "revisions for icu4c 58.1 needed"
- [x] php53-intl
- [x] php54-intl
- [x] php55-intl
- [x] php56-intl
- [x] php70-intl
- [x] php71-intl
- [x] phpbrew

CC @javian

RE: https://github.com/Homebrew/homebrew-core/pull/6505

[2016-11-02 22:40] ABXAdmin commented on #3737
@javian

got busy for a little while...

I did run `xcode-select --install`, but got the message that everyone else reports that

I took a look at the external issue and it appears to be an environment issue there.

I'm hoping not to have to install from source as I'm trying to keep several php environments in brew and to switch back and forth. FYI, the php70-mongodb driver has the same issue. I'd

[2016-11-03 09:23] craigcarnell commented on #3752
[code]

[2016-11-03 10:24] holtkamp commented on #2544
Same comment as https://github.com/Homebrew/homebrew-php/issues/2544#issuecomment-160141981 applies for PHP71:

[code]

now PHP is 'broken', this can be fixed with:

[code]

[2016-11-03 10:24] holtkamp commented on #2440
Also mentioned here https://github.com/Homebrew/homebrew-php/issues/2544

[2016-11-03 20:27] moderndeveloperllc commented on #3751
Dang it. I double checked the httpd.conf file and saw that `LoadModule php7_module` was in there twice - once for RC3, then for RC5. I removed the old one and it worked fine.

[2016-11-03 20:27] #3751 closed

[2016-11-04 03:59] xiaofuyesnew commented on #3736
I have had xcode 8.1 already
then after running
[code]
and then
[code]
worked.

It happened just last night.

[2016-11-04 08:08] daveaspinall commented on #2766
Happened to me again this morning too, after a `brew update && brew upgrade`.

[code]

Running `brew rm php70-imagick && brew install --build-from-source php70-imagick` seems to have fixed it though.

[2016-11-04 11:02] murraycollingwood opened #3756 "Unable to install php56 with apache"
## Description

I recently upgraded to Sierra.  I managed to get Apache2 and MySQL working again, however PHP56 is giving me grief.
The built in version was not working so I began brewing my own copy.
I have previously brewed php53 and php55, so I tried php56.  I kept getting errors in the compilation and/or linking - to do with missing or incompatible libraries (like iconv and libpng)

So I went

[2016-11-05 08:48] #3711 closed

[2016-11-05 15:34] pinepain commented on #3752
PR #3760 submitted. PTAL.

[2016-11-06 07:44] bydesignparis commented on #3629
I see this issue is closed but I still ran into the same issue as @altrugon on a fresh install of php56. On httpd relaunch I get

`httpd: Syntax error on line 114 of /usr/local/etc/apache2/2.4/httpd.conf: Cannot load libexec/apache2/mod_log_config.so ...`

The fix as said is `brew uninstall httpd24`

[2016-11-06 12:52] ilovezfs commented on #3752
@craigcarnell well yes, that's why the revision bumps are needed.

[2016-11-06 18:33] murraycollingwood commented on #3756
I'm now looking for somebody who has the skills to fix this for me.

[2016-11-06 21:07] javian commented on #3752
This should have been corrected now and new bottles are created.

[2016-11-06 21:13] javian commented on #3756
What does `brew doctor` output ?

With brew gist-logs you need to replace `my-formula` with `php56` which is the formula you are having problems with.

[2016-11-06 23:05] cyberpower678 opened #3762 "The latest php packages intl and gmp are broken."
## Description

The newest brew tap php packages don't seem to be properly set up.  For all available PHP versions php-intl successfully downloads, compiles, and installs but PHP reports that it cannot load the extension.  Formerly only affecting php56 and php70, executing brew update and upgrade, which I did 30 minutes ago, broke every intl extension for all php versions available.  Unloading the

[2016-11-07 10:26] murraycollingwood commented on #3756
Solved with the help of this article:
https://getgrav.org/blog/macos-sierra-apache-multiple-php-versions
Also, I added comments to the article for some specific things I had to do.

[2016-11-07 10:26] #3756 closed

[2016-11-08 10:49] alcaeus commented on #3762
Can you try `brew update && brew upgrade`? This should have been fixed by #3760.

[2016-11-08 13:33] cyberpower678 commented on #3762
Nope it's even worse now.
PHP53 gives me:
'PHP Warning:  PHP Startup: intl: Unable to initialize module
Module compiled with build ID=API20090626,NTS
PHP    compiled with build ID=API20090626,TS
These options need to match
 in Unknown on line 0

Warning: PHP Startup: intl: Unable to initialize module
Module compiled with build ID=API20090626,NTS
PHP    compiled with build ID=API20090626,TS
These o

[2016-11-09 04:19] bradynpoulsen opened #3765 "PHP 7.1 RC6"
## Description

PHP 7.1 RC6 is set to be officially released on Thursday morning. As with past release candidates, they have the tar available at least 24 hours before.

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12.1
**Homebrew Version:**   | 1.0.9
**PHP Version in use:** | PHP 7.1RC5

**Output of php -v:**
PHP 7.1.0RC5 (cli) (built: Oct 25

[2016-11-09 05:48] #3765 closed

[2016-11-09 22:36] javian commented on #3762
This error
[code]
Indicates that php is configured with `thread safety` whereas the module is not. As far as I can see there's no support to install the module with thread safety enabled.

For you second post did you install the bottles of the intl and gmp formulas ? If you did, can you try compiling them on your system to see if that solves the issue ? `brew reinstall -s php70-intl`

[2016-11-09 22:36] #3752 closed

[2016-11-09 22:38] javian commented on #3750
Thanks - seems like there's been no answer yet so we'll hold on to this issue for a while.

[2016-11-09 22:40] javian commented on #3743
@FGM Can you please submit a PR to correct this and support the tap ? Let us know if you need any support.

[2016-11-09 22:44] cyberpower678 commented on #3762
How odd, it worked when I installed it initially.  All of my PHP installations have pthreads installed, except 71, which has no support for it yet.

All extensions have been installed using Homebrew.

[2016-11-09 22:54] javian commented on #3742
Thanks for the feedback. This is not taken into account at the moment since the php.ini is shared between all the different sapi. You should be able to create a seperate cli-server.ini to use just for this purpose. See http://php.net/manual/en/configuration.file.php .

[2016-11-09 23:21] cyberpower678 commented on #3762
Oh yea, that fixed it.  All versions including php53 and all mentioned packages work now.  Was this simply a brew upgrade gone wrong, or do I have to always reinstall the packages?

[2016-11-10 01:32] #3762 closed

[2016-11-10 06:46] javian commented on #3762
@cyberpower678 Not sure right now since I've not tested that scenario so it might be that they need to be reinstalled. Feel free to submit another issue on that specifically if it happends.

 Also if pthreads works for 7.1 feel free to submit a PR to add it to the formula collection.

[2016-11-10 10:58] FGM commented on #3743
@javian I'd be glad to, but I haven't the faintest idea where to start to do this. Is there a contributor guide somewhere ?

[2016-11-10 13:45] javian commented on #3743
@FGM You can find some Formula specific information here https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md#updating-formulae on how to make updates to an exisiting formula.

There's a quick mention on how to create the sha here https://github.com/Homebrew/homebrew-php/blob/master/CONTRIBUTING.md . I don't know if that's sufficient information for you to proceed but just ask if

[2016-11-11 22:25] javian commented on #3737
@ABXAdmin It seems that clock_gettime has seen several issues since the introduction of XCode 8, as an example you can look at this formula - https://github.com/Homebrew/homebrew-core/pull/6118 and there's plenty more to find in the homebrew-core repo. Not sure what to do about it at this stage though.

[2016-11-12 00:58] mochadwi commented on #3558
@DomT4 Much appreciate it, now my homebrew works again :D

[2016-11-12 14:13] 18618461139 opened #3768 "linker command failed with exit code 1"
## Description
Downloading https://php.net/get/php-5.4.45.tar.bz2/from/this/mirror
Already downloaded: /Users/zhangxiaotian/Library/Caches/Homebrew/php54-5.4.45
==> ./configure --prefix=/usr/local/Cellar/php54/5.4.45_6 --localstatedir=/usr/l
==> make
Last 15 lines from /Users/zhangxiaotian/Library/Logs/Homebrew/php54/02.make:
      _php_openssl_sockop_set_option in xp_ssl.o
  "_SSLv3_server_method

[2016-11-12 16:03] javian commented on #3768
Can you do `brew gist-logs php54` and paste the link here ?

[2016-11-15 09:27] anthonysomerset opened #3772 "How to specify minimum version of PHP required within a formula"
I'm hoping to have deployer added to the homebrew-php repo current PR: #3771

Deployer requires a minimum of PHP 5.5.x for obvious reasons and while i suspect most people will be aware of this i wouldn't want someone to unsuspectingly install it with only PHP 5.4.x

how can one specify the minimum PHP version as a dependency in the formula?

[2016-11-15 09:41] craigcarnell opened #3773 "7.0.13 update?"

[2016-11-15 10:03] javian commented on #3773
@craigcarnell feel free to help out and submit a PR with the required changes and it can get merged later today. Thanks!

[2016-11-15 10:08] cdekok commented on #3737
I am getting the same error on PHP 7 with mongo.

[code]

[2016-11-15 22:24] javian commented on #3772
There's no good and easy way to do this at the moment I'm afraid.

[2016-11-15 23:17] javian commented on #3737
@cdekok @ABXAdmin I would still ask you to test `brew reinstall -s php70-mongodb` if you are using 7.0 just to see if its a build problem with the bottles.

[2016-11-15 23:35] javian commented on #3773
Submitted in #3774

[2016-11-16 05:12] edgework opened #3776 "PHP 5.6 with Apache does not run PHP code, serves the PHP source instead."
## Description

After brew install --with-apache php56 .  Disabling apache that came with MacOS and ULTRA sure that I'm running the apache from brew.  Navigating to a a site that worked fine under MacOS Apache/PHP serves the PHP code rather than running it.

![image](https://cloud.githubusercontent.com/assets/5122883/20335518/16d7cd9c-ab78-11e6-976d-6a1aa45109db.png)

## Context and Logs

Paramete

[2016-11-16 06:51] javian commented on #3776
@edgework your're missing some code in the apache config which should have been displayed when you installed php. See https://github.com/Homebrew/homebrew-php/blob/master/Abstract/abstract-php.rb#L444-L462

[2016-11-16 17:22] isrd1 commented on #3714
I've just upgraded to Sierra and have reinstalled php56 --with-apache but can't find libphp5.so, I've using 'find' with no luck.  There is no /usr/local/opt/php56/libexec directory, nor is it found, as suggested above, in /usr/local/Cellar/httpd24/VERSION/libexec/ there are only mod_ files in there no libs.  Any ideas?

[2016-11-16 22:02] edgework commented on #3776
What you sent me is for PHP 7 and I'm on 5.6 though I understand what you're getting at.. But it didn't make any difference.

[2016-11-17 08:53] javian commented on #3776
@edgework the php5 copy is just below https://github.com/Homebrew/homebrew-php/blob/master/Abstract/abstract-php.rb#L457-L461 - can you paste what you inserted into the apache config ?

[2016-11-17 11:28] cdekok commented on #3737
@javian Still the same error, i have tried uninstall / install / doctor also but nothing seemed to work.

[2016-11-17 11:33] javian commented on #3737
@cdekok thanks for checking. It needs to be raised with the mongodb maintainers since it needs to be updated in the source as far as I can tell - can one of you open a ticket in the php mongodb repo?

[2016-11-17 11:35] javian commented on #3737
Have any of you tried the devel version ?

[2016-11-17 11:39] cdekok commented on #3737
@javian how can i install the devel version? I tried to install it with pecl itself but get a few errors on openssl. (openssl is installed with brew)

[2016-11-17 11:42] javian commented on #3737
@cdekok use  `brew install --devel formulaname`  or  `brew install --head formulaname`

[2016-11-17 12:35] cdekok commented on #3737
thx it didn't work either, I have added a bug report on the mongo tracker: https://jira.mongodb.org/browse/PHPC-836

[2016-11-17 17:41] javian commented on #3737
@cdekok after you install from source - can you run `brew gist-logs php56-mongodb` and share the logs ?

[2016-11-17 17:45] javian commented on #3737
@cdekok another thing to test would be to install  php56 from source first  `brew reinstall -s php56` and then try to install mongodb from source again.

[2016-11-17 18:19] javian commented on #3737
@cdekok can you also do `otool -L /usr/local/opt/php56-mongodb/mongodb.so`

[2016-11-18 08:07] cdekok commented on #3737
@javian here is the log: https://gist.github.com/cdekok/4ede3d063678eb35a8d7af687f0ab467

Reinstalled PHP 7 and Mongo didn't work.
Here is the output from otool:

[code]
According to feedback from Mongo it should work without brew: https://jira.mongodb.org/browse/PHPC-836

[2016-11-18 08:38] javian commented on #3737
@cdekok I saw that feedback as well - the problem here is that it seems that it doesn't happen on all machines. Just to verify, you see the error if you for example list the modules with `php -m` do you not ?

[2016-11-18 11:06] cdekok commented on #3737
The error will only show when executing a query:
[code]

[2016-11-19 08:24] javian commented on #3737
@cdekok can you post that in the jira ticket ? It seems that the test he made only listed the module so it is not clear if he tried to execute a query on a db.

[2016-11-19 09:50] javian commented on #3737
@cdekok in the Jira ticket you reported that you were using Sierra but according to your gist you are on El Capitan - is that correct ?

[2016-11-20 14:13] javian commented on #3773
This has now been merged.

[2016-11-20 14:13] #3773 closed

[2016-11-20 16:09] carolinachkpp commented on #2544
No available formula with the name "php71-intl"

[2016-11-20 16:32] javian commented on #2544
@carolinachkpp please open up a new issue since its not related to this topic

[2016-11-21 11:45] colloct opened #3781 "PHP doesn't have any output"
## Description

Nginx upstream to PHP-fpm via unix-socket.

GET /index.php

index.php
[code]

`Status Code: 200 OK`
and have a response header: `X-Powered-By: PHP/7.0.12`

But it doesn't have any output, source code is empty.
Nginx access log records. No error message was recorded in the error log.

BTW, all .html or another static file is OK.

## Context and Logs

Parameter | Value
--------- | --

[2016-11-21 12:27] colloct commented on #3781
I've just added the below line:

[code]

It works now.

[2016-11-21 22:04] stevewi opened #3782 "php 7.0.13_6 upgrade configuration can't find ZLIB"
## Description
ZLIB library location not known

_Problem description goes here_
Configuration fails

## Context and Logs
/usr/local/Cellar/php70 $ brew upgrade
==> Upgrading 3 outdated packages, with result:
josegonzalez/php/php70 7.0.13_6, josegonzalez/php/php70-mcrypt 7.0.13_5, josegonzalez/php/php70-tidy 7.0.13_5
==> Upgrading josegonzalez/php/php70
==> Downloading https://php.net/get/php-7.0.1

[2016-11-22 05:24] javian commented on #3782
Run `xcode-select --install` and it should install the required headers.

[2016-11-22 05:29] javian commented on #3781
Glad that you managed to sort it out.

[2016-11-22 05:29] #3781 closed

[2016-11-22 07:28] cdekok commented on #3737
@javian yes that is correct I just noticed it the update was not installed correctly, I will try to run it again tonight see if it changes anything.

[2016-11-22 10:21] alcohol opened #3783 "Composer shell script provided by formula does not properly handle exit code"
## Description

Composer shell script provided by formula does not properly handle exit code.

## Context and Logs

composer/composer#5893

**shell script provided by Formula (with added var_dump for clarity)**
[code]

**trigger an error intentionally**
[code]

**exit code is not correct**
[code]

[2016-11-22 13:11] srigi commented on #2691
I got exactly the same probl. Please reopen @javian. To be sure:

[code]

[2016-11-22 13:24] srigi commented on #2691
No problems with installing the `homebrew/php/php56-kafka`

[2016-11-22 14:36] srigi commented on #2691
It looks like for PHP 7.0 only the [v2.0.0](https://pecl.php.net/package-changelog.php?package=rdkafka&release=2.0.0) is intended.

Please make this change.

[2016-11-23 14:12] mariusvw commented on #2483
Updated the code, adding the --nodaemonize resolves the issue when the config does not contains daemonize = no.

[2016-11-23 17:44] kevinburke opened #3784 "PHP Warning: Module 'pdo_pgsql' already loaded in Unknown on line 0"
## Description

I'm trying to use PHP with Postgres. After installing php70-pdo-pgsql, I get the following warning: `PHP Warning:  Module 'pdo_pgsql' already loaded in Unknown on line 0` when I run `php -v`.

I ran `brew install php70 --with-postgres`. Unfortunately I don't have the error now, but I got an error that suggested I needed to install additional pg drivers. So I tried installing php70-

[2016-11-24 05:44] javian commented on #3784
Looking at it now it might be an oversight when seperating the postgres code into a seperate Formula. I believe that the option for php should have been removed when that happend.

[2016-11-24 21:52] guiassemany commented on #3737
I am with the same problem. Using El Cap.
Any news on this?

[2016-11-25 07:05] javian commented on #3737
@guiassemany no, there's currently no published solution if you want to stick with El Cap.

[2016-11-25 10:40] why973828939 commented on #3737
Same problem here, on 10.11.6. `Xcode-select --version` shows 2343.

[code]

Really frustrated...

[2016-11-25 11:01] josegonzalez commented on #3737
@why973828939 Yep, sucks when free software doesn't work as desired.

We'll definitely keep everyone posted here in terms of any possible solutions. At the moment, it seems like the latest version of XCode updated some libraries/headers that are missing a symbol needed for the mongodb extension to work.

I'm pretty sure the mongodb php extension maintainers are hard at work on a fix, but if anyone

[2016-11-25 11:05] guiassemany commented on #3737
@javian If I change to Sierra and xcode 8,  would it be fixed? Or the solution is using another OS like Windows or Ubuntu? Thank you!

[2016-11-28 07:36] cdekok commented on #3737
Ok so i finally updated to Sierra and compiled it again the error seems to be gone now 👍
Atleast on 1.2.0alpha3

[2016-11-28 09:27] javian commented on #3737
@cdekok would it be possible for you to also test the non-alpha version ?

[2016-11-28 21:15] rpg999 opened #3787 "Imap is not available for php70"
I've recently installed php70 with extension imap

but i've got imap-uw installed. I can't make my code works because i get the error

i've tried brew search php70-imap, but nothing has been founded. So the question is, has imap for php7 been ported or i did something wrong while installing ?

[2016-11-29 04:07] luzbos commented on #3545
brew update  is ok!  thanks.

[2016-11-29 13:42] andrewtch commented on #3741
Twig extension will not be upgraded to 7.0 as it renders zero to none performance impact with phpng.

[2016-11-29 15:27] javian commented on #3741
Thanks for the feedback @andrewtch . With that said I will close the issue and not merge any twig PRs for php7+. You can read more about it here https://github.com/twigphp/Twig/issues/1695 .

[2016-11-29 15:27] #3741 closed

[2016-11-29 15:55] javian commented on #3784
@kevinburke any update on this ?

[2016-11-29 15:56] kevinburke commented on #3784
Sorry I'm not sure what I'm supposed to do?

On Tue, Nov 29, 2016 at 07:55 Jan Viljanen <notifications@github.com> wrote:

[2016-11-29 22:34] sattapuram opened #3791 ".edu"
## Description

_Problem description goes here_

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | _your OS X version_
**Homebrew Version:**   | _your Homebrew version_
**PHP Version in use:** | _your PHP version_
**Xcode Version:**      | _your Xcode version_

**Output of gcc -v:**
_result of the CLI output_

**Output of php -v:**
_result of the CLI o

[2016-11-30 06:52] javian commented on #3784
I asked if you were intending to use the postgres PDO or native interface. =)

[2016-11-30 06:52] javian commented on #3791
Closing this incomplete issue with no information.

[2016-11-30 06:52] #3791 closed

[2016-12-01 09:24] staticdreams opened #3794 "Major performance difference between PHP 5.5 and 7.0"
## Description

Working the other day on local a wordpress site I noticed huge lags in between page refreshes. At first everything was fine, but when I installed and activated a "resource heavy" theme along with all its components, the time between page reloads were never < 7 seconds. Averaging between 15 et 20 seconds. It drove me crazy. Even wordpress admin took ~20 seconds to refresh a page. I

[2016-12-01 10:37] javian commented on #3794
Your xdebug settings seems different, can that explain the performance impact ?

[2016-12-01 10:54] staticdreams commented on #3794
@javian thanks for your reply.
I just tried doing ``brew remove php70-xdebug`` and removing ``ext-xdebug.ini`` file associated with it from ``/usr/local/etc/php/7.0/conf.d/`` folder to see if it changes anything. Still lags :(
Is there anything else I can try?

[2016-12-01 11:01] javian commented on #3794
You seem to have different extensions loaded - would that have any effect on the executed code ?

[2016-12-01 20:50] staticdreams commented on #3794
@javian I completely uninstall php70 and removed assiciated folder. Than re-installed everything from scratch. Seems to work now. Thank you for you time

[2016-12-01 20:50] #3794 closed

[2016-12-02 09:15] cdekok commented on #3737
@javian I have just tried it, it seems to work fine now.

[2016-12-02 13:00] rpkoller opened #3796 "How to best upgrade from PHP 7.0.13 to 7.1"
## Description

I have installed the `homebrew/php/php70`formula. With todays release of PHP 7.1 its formula is already available `homebrew/php/php71`. But if I perform a `brew update` and or `brew upgrade` the update isn't showing. Is there a formula providing a continuous upgrade path, means I am able to perform a simple `brew upgrade` to push the PHP version from e.g. 7.0.13 to 7.1? And is ther

[2016-12-02 13:24] pinepain commented on #3796
Hi, you have to uninstal or just unlink php70 and install php71

[2016-12-02 14:30] #3787 closed

[2016-12-02 17:47] jonnybarnes opened #3797 "Readme mentions outdated macOS versions"
In Requirements neither El Capitan or Sierra are mentioned. The readme implies these are untested releases.

[2016-12-02 18:22] josegonzalez commented on #3797
Mind issuing a pull request?

[2016-12-02 19:00] jonnybarnes commented on #3797
what should the list be, guessing yosemite, el capitan, and sierra>

[2016-12-03 00:03] rpkoller commented on #3796
Thanks for the fast answer @pinepain ! i went with `brew uninstall php70`. seemed to work flawlessly. `brew install homebrew/php/php71` was easy afterwards. ;) So thanks again for the headsup!

[2016-12-03 00:03] #3796 closed

[2016-12-03 08:03] #3782 closed

[2016-12-03 08:15] javian commented on #3783
Thanks for the report @alcohol , seems like we should use exit instead of return which should handle the exit code properly.

[2016-12-03 08:44] #3783 closed

[2016-12-03 08:45] javian commented on #3783
A submitted a fix now, please give it a test run ^^

[2016-12-03 10:34] srviest commented on #3594
@ecarrera I love you man!

[2016-12-03 13:47] devjack opened #3803 "Checksum mismatch for PHP7.1"
## Description

Checksums mismatch when installing PHP7.1 after #3795

[code]

[2016-12-03 14:07] devjack commented on #3803
My mistake - an old cached copy of the tap was found locally. brew upgrades worked.

[2016-12-03 14:07] #3803 closed

[2016-12-03 15:13] javian commented on #3797
@jonnybarnes yes.

[2016-12-03 15:17] javian commented on #3776
@edgework did you manage to resolved this issue ?

[2016-12-03 15:18] javian commented on #3768
@18618461139 any update on this issue ?

[2016-12-03 18:31] jonnybarnes opened #3805 "Homebrew is using a weirdly versioned prefix"
## Description

Homebrew is using a wierdly versioned prefix.

When I installed `php71` with specific options, meaning it compiled from source, here was the start of the configure line in my terminal:

[code]

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.11.6
**Homebrew Version:**   | 1.1.2-15-g52691cd0d
**PHP Version in use:** |7.1.0
**Xcode V

[2016-12-03 18:43] javian commented on #3805
If you are referring to the _11 then that's the formula revision and completely normal.

[2016-12-05 14:01] AchoArnold opened #3812 "PHP 7.0 installation fails when running `./configure`"
## Description
When doing `brew install php70 --with-imap --with-postgresql` The installation fails with the following logs

## Context and Logs

https://gist.github.com/AchoArnold/6c1c46e97b03f80a330b07b16291727c

Parameter | Value
--------- | ------------------
**OS X Version:**       |  10.12.1
**Homebrew Version:**   | 1.1.2
**PHP Version in use:** | 7.0
**Xcode Version:**  |  8.1

**Output of

[2016-12-05 16:25] jonnybarnes commented on #3805
Fair enough

[2016-12-05 16:25] #3805 closed

[2016-12-06 03:22] rveitch commented on #3504
Same error as well. Brew is up to date.

[2016-12-06 08:36] javian commented on #3812
Does it work without the options if you just do  `brew install -s php70` ?

[2016-12-06 11:41] AchoArnold commented on #3812
Yes it does

[2016-12-06 11:52] madouidesign commented on #3736
`brew install php70 --with-apache24`

Have fixed the problem

[2016-12-06 16:20] alcaeus commented on #3743
@javian this can be closed since you merged my PR.

[2016-12-06 20:54] henrypenny commented on #3736
Awesome. Thanks @madouidesign

[2016-12-07 03:06] tucq88 commented on #1623
@grgaortiz Did you able to install PHP56 with MSSQL. I'm struggling for hours but can't find any solution.

[2016-12-07 17:00] puckbag commented on #3093
OS X El Capitan - 10.11.6

**`$ php --version`**
[code]

**`$ brew switch icu4c 57.1`**
[code]

**`$ php --version`**
[code]

**`$ brew --version`**
[code]

[2016-12-08 04:00] concept47 commented on #3714
can someone shed light on why this decision was made?

This breaks lots of, hitherto, stable OSX setups and I'd like to think there was a good reason for it?

[2016-12-08 04:13] concept47 commented on #3714
@isrd1 try running `mdfind libphp5.so`
what do you get?

[2016-12-08 07:15] javian commented on #3714
@isrd1 any comments about the apache install should go into the apache repo, its seperate from the PHP one.

@concept47 what decision are you referring to ? If its' about requiring brewed apache then Apple has removed the tools to be able to compile it. It is possible to work around it if you search in the issues but I've not wanted to implement that in brew since it modifies stuff outside of the

[2016-12-08 07:27] javian commented on #3743
@alcaeus thanks for the reminder ^^ and thanks @FGM for giving it a shot.

[2016-12-08 07:27] #3743 closed

[2016-12-08 08:36] isrd1 commented on #3714
There was no libphp5.so, I'd searched before posting in case I could just change the path in the apache.conf file, but it wasn't there, nor any libexec directory.  In the end I uninstalled everything and reinstalled it all, installing php with the --with-apache option (which I had done before) and this second time it worked.

[2016-12-08 09:29] niksy commented on #3714
@javian So as I see it, these are the options:

* For Sierra (and later), install with only brewed Apache
* For everything else, provide option for previous version where you coudl do install with system Apache

Am I right?

[2016-12-08 15:43] acim opened #3823 "yaml 2.0 is out"
## Description

So it would be nice if someone could update 7.x formulas (php70-yaml.rb and php71-yaml.rb). Thanks.

[2016-12-08 15:45] josegonzalez commented on #3823
Pull requests welcome.

[2016-12-08 16:00] acim commented on #3823
Will try to do it right now :)

[2016-12-08 17:18] madouidesign commented on #3736
You're welcome @henrypenny

[2016-12-08 17:49] Suhkha commented on #3737
Same problem with Capitan... :(
any solution??
Thanks a lot!!

[2016-12-08 17:53] guiassemany commented on #3737
@Suhkha The solution for me was to update to Sierra with xCode 8.1 and use latest mongodb extension. I needed to keep working on it, so I decided to do it.

[2016-12-08 18:02] Suhkha commented on #3737
@guiassemany thanks! The problem is... I can't for now do that update...it's not up to me to make the change. :(
Thanks.

[2016-12-08 18:10] concept47 commented on #3714
@javian okay cool. I figured there was a good reason. Thanks.

[2016-12-08 22:06] javian commented on #3823
Thanks @acim the PR has been merged now.

[2016-12-08 22:06] #3823 closed

[2016-12-08 22:06] javian commented on #3797
Thanks for the help @jonnybarnes ^^

[2016-12-08 22:06] #3797 closed

[2016-12-08 22:14] javian commented on #3784
@kevinburke I'm not sure how familiar you are with php and compiling the postgres support. In short there are 2 ways of connecting via php to postgres. The error that you describe in your issue looks like the same module is being loaded twice. This can happen if you install `--with-postgres`and at the same time install `php70-pdo-pgsql` because both options install the pdo module.

This is what I

[2016-12-08 22:22] concept47 commented on #3714
@niksy you can already see the added complexity with that approach. And eventually users would have to use the brewed Apache anyway. I think the communication could be better but this is a sound approach.

Maybe add a warning or notice in the install @javian?

Thanks for all the hard work regardless.

[2016-12-08 22:39] javian commented on #3714
@niksy See for example https://github.com/Homebrew/homebrew-php/issues/3283#issuecomment-228582197 - the workaround also works for Sierra.

[2016-12-08 22:52] josegonzalez commented on #3714
@niksy pull requests welcome :)

[2016-12-09 13:26] javian opened #3832 "phpmyadmin should no longer depend on mcrypt"
## Description

See
https://github.com/phpmyadmin/phpmyadmin/blob/master/doc/require.rst
and
https://github.com/phpmyadmin/phpmyadmin/commit/692c555c3fd625f9efdee7abf8483cce2d0d6986

The phpmyadmin Formula needs to be updated accordingly

[2016-12-10 23:31] mgoeppner opened #3835 "Update optional dependency pattern"
## Description

There is an issue where if a head-only formula uses a formula as a dependency, and that dependency has optional dependencies, the optional dependency's dependencies will not be installed.

The code which causes this looks like: `depends_on 'package' if build.include? 'with-foo'` or `depends_on 'package' if build.with? 'with-foo'`.

The fix is pretty straightforward:

1. Deprecate t

[2016-12-11 09:05] javian commented on #3835
The current dependencies that comes to mind that could be affected are
[code]
And potentially `if build.include?('with-homebrew-libressl')`

[2016-12-12 10:53] leewillis77 opened #3837 "homebrew/php/php70 7.0.14_7 flagged as virus"
## Description

Trying to update php70, but its getting flagged as containing a virus by AVG:

https://www.dropbox.com/s/wwe9oyr27ovi8pc/Screenshot%202016-12-12%2010.51.29.png?dl=0

May well be a false positive - but thought it worth reporting.

[2016-12-12 11:08] leewillis77 commented on #3837
I also tried to install php71, but that also hits issues:

https://www.dropbox.com/s/0katmplx7tnj9pa/Screenshot%202016-12-12%2011.08.02.png?dl=0

[2016-12-12 11:29] leewillis77 commented on #3837
AVG also complains about the raw source from PHP.net - so reported upstream.

[2016-12-12 11:29] #3837 closed

[2016-12-12 11:31] javian commented on #3837
@leewillis77 Thanks for looking into this.

[2016-12-12 21:32] taylorotwell opened #3841 "Memcached for PHP 7.1?"
Thanks so much for providing these formulas!

Will `php71-memcached` be available in the future, or is there some hold up on the Memcached side from this building for PHP 7.1?

[2016-12-12 21:47] javian commented on #3841
The hold up has been that there's been no stable release of the memcached for any of the php7 versions yet. The head formula for 7.0 was merged a while back and there is a submission for 7.1 amongst the pull requests but I would rather wait until there's release version ready to go. They've been working on it for quite some time and afaik there's been no notification of when a tagged release will

[2016-12-13 05:53] jajajaime opened #3842 "Getting php71-imagick error"
## Description

PHP scripts on the CLI output an error with loading php71-imagick.
Brew is updated and upgraded.
The error is on the `php-v` section.

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12.1
**Homebrew Version:**   | 1.1.2
**PHP Version in use:** | 7.1.0
**Xcode Version:**      | 8.1.0.0.1.1476494586

**Output of gcc -v:**
Configured

[2016-12-13 06:50] javian commented on #3842
This might be related to an imagick update. Can you try and do `brew reinstall -s php71-imagick` and see if the problem persists ?

[2016-12-13 06:52] alcaeus commented on #3842
@javian I encountered the same problem yesterday when updating a couple of machines from php70 to php71. Running with `-s` fixed the issue.

[2016-12-13 06:53] jajajaime commented on #3842
That did it. Thanks for the quick response. You can close this.

[2016-12-13 07:43] javian commented on #3842
Glad to see that it fixed it! Could someone submit a revision bump of the imagick formulas ? This would solve the issue for everyone once its been merged.

[2016-12-13 09:03] brtdv commented on #3842
I'm having this same issue with PHP 7.0
I'm running macOS 10.12.1

[code]

When I reinstall from source with `brew reinstall -s php70 php70-imagick`, I'm getting this warning:

[code]

What else would I need to reinstall to make the Version warning disappear?

This is my `brew doctor` output

[code]

[2016-12-13 09:48] apfelbox commented on #3842
I got the same error for `php70-imagick`, always got

[code]

Reinstallation with `brew reinstall -s php70-imagick` fixed it for me, I got no build warnings, it installed cleanly and now everything is running smoothly again.

👍

[2016-12-13 12:04] cschorr opened #3846 "Can't compile php70 using '--with-httpd24'; unrecognized options: --with-mysql"
## Description

I want to install PHP with `libphp7.so` for Apache but compiling failed with Error:
`unrecognized options: --with-mysql`

The option `--with-mysql` is not valid anymore for PHP7

[code]

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.11.6
**Homebrew Version:**   | 1.1.2
**PHP Version in use:** | 7.0.14
**Xcode Version:**      | 8.

[2016-12-13 12:06] cschorr commented on #3736
@madouidesign: the correct option name seams to be --with-httpd24
`brew install php70 --with-httpd24`

but it doesn't compile anyway for me #3846

[2016-12-13 12:17] javian commented on #3736
@cschorr it changed recently so any old info will be incorrect.

[2016-12-13 13:22] javian commented on #3846
The error is not about mysql - its about `configure: error: C compiler cannot create executables` which is different.

[2016-12-13 16:43] automaticdreams opened #3847 "cannot install php56 --with-http24 on 10.11.6"
## Description

running brew install php56 works correctly.
then uninstall php56 and cleanup

running brew install php56 --with-http24 fails with the following message

Last 15 lines from /Users/Jenny/Library/Logs/Homebrew/php56/02.make:
/bin/sh /private/tmp/php56-20161213-68843-lr2cr1/php-5.6.29/libtool --silent --preserve-dup-deps --mode=compile clang  -Imain/ -I/private/tmp/php56-20161213-68843

[2016-12-13 18:19] madouidesign commented on #3736
Hi @cschorr

1 - uninstall xcode 8 with [AppCleaner](https://freemacsoft.net/appcleaner/)
2 - install last version [xcode 8.2](https://itunes.apple.com/us/app/xcode/id497799835?ls=1&mt=12) to fix **C compilation error**
3 - install or reinstall php70

brew install php70 --with-httpd24
or
brew reinstall php70 --with-httpd24 if it's already installed

4 - Now  your php module is in  /usr/local/opt/p

[2016-12-13 18:23] madouidesign commented on #3847
Hi @automaticdreams

1 - uninstall xcode 8 with AppCleaner
2 - install last version xcode 8.2 to fix C compilation error
3 - install or reinstall php70

brew install php70 --with-httpd24
or
brew reinstall php70 --with-httpd24 if it's already installed

4 - Now your php module is in /usr/local/opt/php70/libexec/apache2/libphp7.so

5 - Add this line in your httpd.conf
LoadModule php7_module /usr/loc

[2016-12-13 18:31] madouidesign commented on #3846
Hi @cschorr

1 - uninstall xcode 8 with [AppCleaner](https://freemacsoft.net/appcleaner/)
2 - install last version [xcode 8.2](https://itunes.apple.com/us/app/xcode/id497799835?ls=1&mt=12) to fix C compilation error
3 - install or reinstall php70

brew install php70 --with-httpd24
or
brew reinstall php70 --with-httpd24 if it's already installed

4 - Now your php module is in /usr/local/opt/php70/l

[2016-12-13 18:39] sarman commented on #3601
--with-httpd24

[2016-12-13 20:44] automaticdreams commented on #3847
I am already using Xcode 8.2
I am trying to use php56, not php70
following the steps above still results in the same error
Generating phar.php
Generating phar.phar
PEAR package PHP_Archive not installed: generated phar will require PHP's phar extension be enabled.
clicommand.inc
directorygraphiterator.inc
directorytreeiterator.inc
invertedregexiterator.inc
pharcommand.inc
phar.inc
make: *** [ext/p

[2016-12-13 21:26] automaticdreams commented on #3847
there is no formula called rmtree

[2016-12-13 21:30] automaticdreams commented on #3847
also, there is no C compile error, I think perhaps you are confusing this issue with issue 3846

[2016-12-14 04:08] madouidesign commented on #3847
Sorry !!

$ brew tap beeftornado/rmtree && brew install brew-rmtree
$ brew rmtree <package>

Remove now your php56

$ brew rmtree php56

and reinstall

$ brew install php56

[2016-12-14 08:33] automaticdreams commented on #3847
brew rmtree package
Error: No available formula with the name "package"

[2016-12-14 13:19] martinboy opened #3851 "Invalid SHA hash for n98-magerun formula"
## Description

The actual SHA256 hash for the file https://files.magerun.net/n98-magerun-1.97.22.phar is 15cae8e72121991fcc397ea3c3735d67f679b499e76dd427b7bd23dde05dc166 but the expected hash is 199dd0d416260c68e691580ffd3f7a448d60f616529aadadcfee584992d6253e

[2016-12-14 14:15] kiboflavin opened #3852 "php70-ssh2 needs a patch"
## Description

php70-ssh2 needs this patch in order to work properly on php 7.0.13 or higher:

http://git.php.net/?p=pecl/networking/ssh2.git;a=blobdiff;f=ssh2_fopen_wrappers.c;h=17444dc04fc11b1c3a23adb45fa38b31e25ef657;hp=c8d1d07311797106e2a614839c0d54c21c0a25fc;hb=17680cf039f0cfac53b5a2531fdb715b95e9cc42;hpb=fd0455499afd78fad552ea22f6697d9fee2a3d64

It doesn't look like the upstream maintainers

[2016-12-14 16:57] cschorr commented on #3846
Thanks @madouidesign.
Upgrading to XCode 8.2 solved my problem!

[2016-12-14 16:57] #3846 closed

[2016-12-14 17:59] madouidesign commented on #3846
You're welcome @cschorr

[2016-12-14 18:06] madouidesign commented on #3847
My freind, Of course there are !!

`brew tap beeftornado/rmtree`
`brew install brew-rmtree`

[2016-12-14 22:49] javian commented on #3851
There's been new releases of it so we should update to the latest version. Feel free to submit a PR to make the update.

[2016-12-14 23:01] zzal commented on #3847
About removing Xcode with AppCleaner:

- Why?
- Do we need to use with SmartDelete @ on?

Tnx

[2016-12-15 05:39] feivorid opened #3854 "how can i fix "No available formula with the name "josegonzalez/php/php56"""
## I want uninstall php56-yaf

▶ brew uninstall php56-yaf

Error: No available formula with the name "josegonzalez/php/php56"
Please tap it and then try again: brew tap josegonzalez/php

and I "brew tap josegonzalez/php"

▶ brew tap josegonzalez/php
Updating Homebrew...
==> Tapping josegonzalez/php
Cloning into '/usr/local/Homebrew/Library/Taps/josegonzalez/homebrew-php'...
remote: Counting object

[2016-12-15 05:49] javian commented on #3854
Just remove the josegonzales tap, you shouldn't be using it.

[2016-12-15 06:21] feivorid commented on #3854
@javian  yes  ?  your mean is
"▶ brew untap josegonzalez/php
Error: No available tap josegonzalez/php."

just like this.
thank you.

[2016-12-15 07:07] javian commented on #3854
I don't have access to a mac at the moment to give specific details but what is the content of `/usr/local/Homebrew/Taps/` . Do you have a josegonzales directory there ?

[2016-12-15 07:26] feivorid commented on #3854
▶ pwd
/usr/local/Homebrew/Library/Taps
▶ ll
total 0
caskroom
homebrew

just like this , you said `/usr/local/Homebrew/`   no Taps directory ;

▶ pwd
/usr/local/Homebrew
▶ ll
total 48
 CHANGELOG.md
 CODEOFCONDUCT.md
 CONTRIBUTING.md
 LICENSE.txt
 Library
 README.md
 bin
 completions
 docs
 manpages

[2016-12-15 07:30] javian commented on #3854
Ok than I missed the library part so that is ok. So looking at your taps directory it looks ok so I wonder why it acted like that. Does `brew doctor` tell you anything that could help ?

[2016-12-15 07:32] feivorid commented on #3854
@javian   yes I have tried `brew doctor`
`▶ brew doctor
Your system is ready to brew.`

[2016-12-15 07:48] feivorid commented on #3854
@javian  do you have a wechat or other live chat tools ?

[2016-12-15 08:51] automaticdreams commented on #3847
@madouidesign your steps above do not work - see following output

$ brew tap beeftornado/rmtree
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 2 taps (homebrew/core, homebrew/php).
==> New Formulae
homebrew/php/php71-igbinary
==> Updated Formulae
artifactory                              homebrew/php/php71-imagick
azure-cli                                minio
bitrise

[2016-12-15 09:38] madouidesign commented on #3847
Hi @automaticdreams

When I say

`$ brew rmtree package`

I mean you change package by the package name that do you want to delete, like : php56, php70... no matter! That's it.

The

$ brew rmtree (your package name)

gives you the posibility to delete all dependencies of package. When you use remove or uninstall to delete php56 it doesn't work correctly. Why ? because when you install php56 this

[2016-12-15 09:59] madouidesign commented on #3847
HI @zzal

1 - You remove xcode with appClear because you will uninstall it correctlyand when you install the last xcode version 8.2 you are sure you will not have C compile error. You can juste update xcode! But for to be sure it better to remove it and reinstall.

The big problem with php package installation with http is the problem of compilation, because when you use

`$ brew install php56 --w

[2016-12-15 11:02] automaticdreams commented on #3847
$ brew rmtree php56
Error: php56 is not currently installed
$ brew rmtree http24
Error: No available formula with the name "http24"

[2016-12-15 12:08] madouidesign commented on #3847
It --with-http24 not --with-http**d**24

You must be able to install with option --with-http24

[code]
After that

`brew tap homebrew/php`

And again

`$ brew install php56 --with-http24`

And tell me what do you get!

[2016-12-15 12:16] automaticdreams commented on #3847
Warning: homebrew/php/php56: this formula has no --with-http24 option so it will be ignored!

[2016-12-15 12:39] madouidesign commented on #3847
Can you install http24

`$ brew install http24`

or not ?

[2016-12-15 17:26] madouidesign commented on #3847
Are you kidding me !!!!!

First I sad brew install httpd24 not http24

Second I have already explained below why you need to install php with option --with-http24.

If you want to use php with your apache you need  to add **libphp5.so** module to your httpd.conf like that.

`LoadModule php5_module /usr/local/opt/php56/libexec/apache2/libphp5.so`

`$ brew install php56 --with-http24` will create th

[2016-12-15 20:56] automaticdreams commented on #3847
perhaps someone who knows what they are talking about can help!!
you have repeatedly said http24, not httpd24, even though it is clear that httpd24 is the correct flag

Please *actually read* the error message being given!
running
$ brew install php56 --with-http24
throws an error related to phar - which is what I am here to solve!

I know what the options are, and I know how to install, but I am

[2016-12-16 05:46] javian commented on #3847
@automaticdreams I'm a little bit confused . The correct option to do what you want is `brew install php56 --with-httpd24` - the --with-http24 option has never existed and you can always run `brew options php56` to confirm that. Looking at your gist log it confirms that you used that option.

I can't reproduce this on my system but I'm using Sierra.

[2016-12-16 08:02] automaticdreams commented on #3847
@javian yes, I know the correct option, I checked the brew options too. running brew install php56 --with-httpd24 was failing with an error, hence asking on here. I tried following madouidesigns instructions (complete with spelling mistake) exactly as they were typed(copy/paste), in case there was something I had missed, but obviously, they did not work!
I am assuming there is something in my setu

[2016-12-16 17:21] bliles opened #3857 "Can't Install php70-memcached (can't find zlib)"
## Description
brew install --HEAD php70-memcached fails with error:
`
checking for zlib location... configure: error: memcached support requires ZLIB. Use --with-zlib-dir=<DIR> to specify the prefix where ZLIB headers and library are located
`

## Context and Logs

`
$ brew config
HOMEBREW_VERSION: 1.1.4-2-g9cd5a21
ORIGIN: https://github.com/Homebrew/brew.git
HEAD: 9cd5a21b473f0271b162bbe7f77f7d1

[2016-12-16 18:13] bliles commented on #3857
Resolved, I needed to run xcode-select --install, similar to #1946

[2016-12-16 18:13] #3857 closed

[2016-12-17 20:58] msnatu commented on #3601
@sarman simple change... worked great! Thanks!

[2016-12-18 10:24] javian commented on #3854
What does `brew info php56-yaf` output ?

[2016-12-18 11:04] feivorid commented on #3854
@javian

▶ brew info php56-yaf
homebrew/php/php56-yaf: stable 2.3.3, HEAD
Yaf is a PHP framework similar to zend framework, which is written in c and built as PHP extension
https://pecl.php.net/package/yaf
/usr/local/Cellar/php56-yaf/2.3.3 (3 files, 217.5K) *
  Poured from bottle on 2015-12-21 at 15:13:29
From: https://github.com/Homebrew/homebrew-php/blob/master/Formula/php56-yaf.rb
==> Dependenc

[2016-12-19 10:27] mgoeppner commented on #3847
@automaticdreams Try reinstalling xcode and the xcode command line tools -- ` Illegal instruction: 4` means there is an instruction in the binary that the current version of your OS can not understand.

[2016-12-19 12:38] ilovezfs commented on #3594
Without modifying Xcode: https://github.com/Homebrew/homebrew-apache/pull/147.

[2016-12-20 00:38] delef opened #3861 "ptheads and gearman for PHP 7.1"
Please add them..(

[2016-12-20 09:03] RualLee commented on #3841
How long laravel can support php7?

[2016-12-20 10:02] josegonzalez commented on #3841
@javian Closing as there realistically isn't anything actionable here.

[2016-12-20 10:02] #3841 closed

[2016-12-20 13:00] alcaeus commented on #3837
@leewillis77 I couldn't find an issue in the PHP bug tracker - did you find out whether it was a false positive?

[2016-12-20 13:43] javian commented on #3837
I think he might have reported it to AVG and not PHP.

[2016-12-20 14:12] leewillis77 commented on #3837
I reported it to PHP (https://bugs.php.net/bug.php?id=73722 - although it's private).

The response there was:

"Thanks for the report. The AVG antivirus is not listed on virustotal.com, but other dozens of antiviruses are green. Moreover - the mentioned file is of no use on Mac, it belongs to the build system on Windows. This looks like false positive, which happen to be reported from time to tim

[2016-12-20 14:14] alcaeus commented on #3837
That's what I suspected, thanks for following up!

[2016-12-21 07:01] javian commented on #3854
Can you install and remove other extensions without any issues ?

[2016-12-21 21:40] javian commented on #3861
Gearman is now merged but pthreads just don't compile at the moment on the build system when using the latest release.

[2016-12-21 21:44] javian commented on #3851
Thanks for the submission! Closing issue.

[2016-12-21 21:44] #3851 closed

[2016-12-21 22:28] davewallace commented on #3093
@javian fixes the issue for me when again broken after macos 10.12.2 update.

[2016-12-21 22:42] javian commented on #3093
@davewallace since this issue is old and closed its better if you post a new one so that it will be seen and not buries in an old issue. I'm assuming the resolution would be to rebuild the packages that are dependent on icu4c.

[2016-12-22 18:19] koenpunt opened #3868 "`homebrew/php/phpsh` doesn't work after installation due to missing config file."
## Description

`homebrew/php/phpsh` doesn't work after installation due to missing config file.

[code]

But as phpsh is no longer maintained, fixing to make it work is probably not worth it, and so I think maybe this formula should be disabled for macOS Sierra.

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | macOS Sierra 10.12.2
**Homebrew Version

[2016-12-22 22:11] javian commented on #3868
Thanks for the report. The repo states
[code]
so I would be tempted to retire it completely and move it into the boneyard.

[2016-12-22 22:31] javian commented on #3842
This has now been fixed by merging #3858

[2016-12-22 22:31] #3842 closed

[2016-12-23 06:30] alcaeus commented on #3868
See #3869.

[2016-12-27 06:53] littleylv opened #3882 "php56-intl error after upgrading icu4c from 58.1 to 58.2"
## Description
After upgrading icu4c from 58.1 to 58.2:
``PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/local/opt/php56-intl/intl.so' - dlopen(/usr/local/opt/php56-intl/intl.so, 9): Library not loaded: /usr/local/opt/icu4c/lib/libicudata.58.1.dylib``

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12.2
**Homebrew Version:**   |

[2016-12-27 06:59] alcaeus commented on #3882
I've created a PR to rebuild the bottles for the intl extension. In the meantime, you can force a rebuild by running `brew reinstall -s php56-intl`.

[2016-12-27 07:10] littleylv commented on #3882
@alcaeus  Thanks. That works.

[2016-12-27 07:50] javian commented on #3882
PR now merged. Thanks for the report @littleylv !

[2016-12-27 07:50] #3882 closed

[2016-12-27 13:48] dmaciej commented on #3737
I run El Captain too, but I updated XCode Command Line Tools to the version 2343 (`xcode-select --version`):
[code]
(it installs all software updates)
and next I installed the extension with the `--build-from-source` flag:
[code]
the issue seems to be gone now.

[2016-12-27 21:58] cordominic commented on #3601
Warning bro,  --with-apache was deprecated; using --with-httpd24 instead!

[2016-12-27 22:36] cordominic commented on #3736
On MacOS Sierra 10.12.2, if you are using the --with-httpd24 option, but for some reason still getting the Compiling error: Can't compile php70 using '--with-apache'; unrecognized options.

Try again with more options:
brew reinstall php70 --with-httpd24 --with-mysql

[2016-12-30 13:59] fledoux opened #3886 "sevres"
## Description

_Problem description goes here_

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | _your OS X version_
**Homebrew Version:**   | _your Homebrew version_
**PHP Version in use:** | _your PHP version_
**Xcode Version:**      | _your Xcode version_

**Output of gcc -v:**
_result of the CLI output_

**Output of php -v:**
_result of the CLI o

[2016-12-30 17:17] #3886 closed

[2017-01-02 14:47] markl181 commented on #3776
I had the same issue after upgrading from PHP56 to PHP70 with homebrew. It looks like the httpd.conf did not get updated (all of those lines you highlighted were missing). Once I added them and restarted, it did work. thanks!

[2017-01-03 21:38] jgrossi commented on #3737
@dmaciej It worked for me as well, same env, but I'm using php 5.6! Really thanks!

[2017-01-03 23:48] #3776 closed

[2017-01-04 11:54] javian commented on #3737
@dmaciej @jgrossi I've regenereated the bottles so they should be built with the latest setup - can you confirm that the bottles now work without having to install from source ?

[2017-01-04 20:36] Kyslik opened #3895 "Symbol not found: _apr_stat$INODE64"
## Description

`$ sudo apachectl configtest`

`httpd: Syntax error on line 112 of /usr/local/etc/apache2/2.4/httpd.conf: Cannot load libexec/apache2/mod_log_config.so into server: dlopen(/usr/libexec/apache2/mod_log_config.so, 10): Symbol not found: _apr_stat$INODE64\n  Referenced from: /usr/libexec/apache2/mod_log_config.so\n  Expected in: flat namespace\n in /usr/libexec/apache2/mod_log_config.

[2017-01-05 09:40] javian commented on #3895
That looks an apache issue and not a php issue. Can you try and `brew reinstall httpd24 -s` to reinstall apache from source and see if that works ?

[2017-01-05 11:41] bocharsky-bw opened #3896 "PHP Warning: Module 'XXX' already loaded in Unknown on line 0"
## Description

Due to the latest upgrade with `brew upgrade` command, I started to get weird PHP warnings - see logs below

## Context and Logs
[code]

Parameter | Value
--------- | ------------------
**OS X Version:**       | MacOS Sierra 10.12.2
**Homebrew Version:**   | Homebrew 1.1.6-9-g98dadd907, Homebrew/homebrew-core (git revision e6bc; last commit 2017-01-04)
**PHP Version in use:** | PHP

[2017-01-05 11:42] bocharsky-bw commented on #3784
I suppose this related to the #3896

[2017-01-05 13:37] Kyslik commented on #3895
That did the trick (and additional apache setup).

Thanks

[2017-01-05 13:37] #3895 closed

[2017-01-06 11:21] javian commented on #3896
What does `php --ini` tell you ? Does it give any clues as to why this could happen ?

[2017-01-07 12:59] javian commented on #3737
According to https://github.com/Homebrew/homebrew-php/pull/3890#issuecomment-271078815 this has not been resolved.

[2017-01-07 14:18] markl181 commented on #3601
I attempted to upgrade from php56 to php70, and now having the same problem. I tried @grigutis suggestion, but that didn't create the .so file. Also tried brew install php70 --with-apache--with-pear--with-httpd24 and that didn't work either. Has anyone tried downgrading? I am tempted to give that a try since I really need a working php install.

[2017-01-08 07:49] javian commented on #3601
@markl181 can you open up a new issue for your problem and post a `brew gists-logs php70` there ?

[2017-01-09 07:18] lenyapugachev commented on #3737
@javian is there some workaround for now? Already a week of deploying to server for test, instead of local, wasting time :(

[2017-01-09 10:21] jgrossi commented on #3737
@javian thanks for the effort, but it's not working yet, just with `-build-from-source` flag :-(

[2017-01-09 11:56] benpoulson commented on #3787
What was your solution for this?

[2017-01-09 12:04] rpg999 commented on #3787
I don't remember how i made it works.

Likely I reinstalled php70 with these parameters.
`brew install php70 --with-imap --with-fpm`

[2017-01-09 13:51] cdiacon opened #3898 "The output of /usr/local/sbin/apxs follows: apxs:Error: /Applications/Xcode.app/Contents/Developer/Toolchains/OSX10.12.xctoolchain/usr/local/bin/apr-1-config not found!."
## Description

brew reinstall --with-httpd24 php56

checking for Apache 1.x module support... no
checking whether to enable Apache charset compatibility option... no
checking for Apache 2.0 filter-module support via DSO through APXS... no
checking for Apache 2.0 handler-module support via DSO through APXS...

Sorry, I cannot run apxs.  Possible reasons follow:

1. Perl is not installed
2. apxs wa

[2017-01-09 14:25] ohcibi opened #3899 "brew should warn if homebrew-core has not checked out master"
## Actual Description

I leave the description of my original issue in here in order to demonstrate how that issue bugged me at a seemingly completely unrelated place.

The actual issue now is simply explained: I had contributed to `homebrew-core` like a month ago and checked out a feature branch for that. After that I forgot to checkout `master` before doing anything like `brew update` or `brew u

[2017-01-09 14:58] Derwoed opened #3900 "Unable to install php56"
## Description

I need to install PHP56 to be able to use php2html with Gulp. When I try with:
`brew install php56`
The process faills with the log below.

NB: I’ve tried a brew doctor that have some warnings, but no error… (cf. below too)

## Context and Logs
Install’s log:
[code]
brew doctor’s log:
[code]

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.11.6
**Homeb

[2017-01-09 15:15] Gadgetdude commented on #3896
I'm having a similar issue, but with PHP 5.6. So we can probably rule out that it has something to do with a specific PHP version. Maybe a recent update on brew itself? I've already checked the php.ini file but nothing is added double there.

When I run `php -i` (optional with ` | grep .ini` added) I get this. I'm not sure if it just shows what was in the `conf.d` folder or that it includes all th

[2017-01-09 15:19] slifin opened #3901 "Unable to install php70-tideways - php.h not found"
## Description

Unable to compile php70-tideways

[code]

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12.2 (16C67)
**Homebrew Version:**   | Homebrew 1.1.6 Homebrew/homebrew-core (git revision 2b65; last commit 2017-01-09)
**PHP Version in use:** | PHP 7.0.14
**Xcode Version:**      | Version 8.2.1 (8C1002)

**Output of gcc -v:**
Configured with: --prefix=/Library

[2017-01-09 15:25] alcaeus commented on #3901
As the error message itself states, you should report errors in the tideways repository, not here: https://github.com/tideways/homebrew-profiler/issues since the formula is not contained in this repository.

[2017-01-09 15:32] lenyapugachev commented on #3737
@jgrossi strange that for me it's still fails even if I'm unlink, uninstall and then `brew install --build-from-source php56-mongodb`

[2017-01-09 15:45] slifin commented on #3901
Is there a way to tell if my PHP version has been built with homebrew-php?

[2017-01-09 15:54] alcaeus commented on #3901
Since you are using PHP 7.0, I'd assume you did install it using homebrew. You can run `which php` to see which binary it is using. If it's `/usr/local/bin/php` then you are using the PHP version provided by homebrew.

[2017-01-09 16:27] jgrossi commented on #3737
@lenyapugachev maybe you need to install some dependency by hand

[2017-01-09 18:59] bocharsky-bw commented on #3896
For me it's:
[code]

I also don't see any duplication there.

[2017-01-09 22:18] javian commented on #3896
How about the content in the files in `conf.d` is there any duplication there ?

[2017-01-10 08:31] bocharsky-bw commented on #3896
Each file in `conf.d` dir includes only its `.so` extension, everything looks fine there.

[2017-01-10 08:56] bocharsky-bw commented on #3896
Hey guys, I think I mislead you a bit... I investigated this a bit more, for me these errors occur when I run `composer install` on Symfony project, i.e. where composer run [Symfony scripts](https://github.com/symfony/symfony-demo/blob/master/composer.json#L39-L54). Here's a full output of `composer install`:

[code]

Does it clearer now?

[2017-01-10 09:07] alcaeus commented on #3896
Are you by any chance using composer 1.3.0 or later? In that case, please update `sensio/distribution-bundle`. Composer now forks itself to disable xdebug, which caused the DistributionBundle to load ini files multiple times. This was fixed in https://github.com/sensiolabs/SensioDistributionBundle/pull/304, which is included in 5.0.17.

[2017-01-10 09:12] bocharsky-bw commented on #3896
@alcaeus Ah, that's exactly my problem! Yes, I have the latest Composer `1.3.1`. Thanks, after upgrading `sensio/distribution-bundle` problem is gone 👍

[2017-01-10 09:17] #3896 closed

[2017-01-10 12:28] lenyapugachev commented on #3737
@jgrossi what dependencies you mean?

[2017-01-10 14:16] jgrossi commented on #3737
@lenyapugachev I had to install `cmake`

[2017-01-10 17:23] javian commented on #3737
@jgrossi that's strange if that works since the module does not seem to require cmake.

[2017-01-10 18:29] javian opened #3904 "Test case for extensions flags false positivies"
The standard test method for extensions seems to be matching too generously and passing malfunctioning modules into the bottles in the tap. The current test case looks like this and is defined in https://github.com/Homebrew/homebrew-php/blob/master/Abstract/abstract-php-extension.rb#L122-L124

[code]

I just discovered that for instance the php70-opcache bottle returns an error when currently inst

[2017-01-10 22:58] uniacid commented on #3847
I seem to be having this issue as well:

make: *** [ext/mysqli/mysqli.lo] Error 1
1 error generated.
make: *** [ext/mysqli/mysqli_api.lo] Error 1
In file included from /private/tmp/php56-20170110-19778-4lm7ke/php-5.6.29/ext/mysqli/mysqli_prop.c:31:
ext/mysqli/php_mysqli_structs.h:63:10: fatal error: 'my_global.h' file not found
#include <my_global.h>
         ^
1 error generated.
make: *** [ext/my

[2017-01-10 23:26] javian commented on #3847
@automaticdreams does you environment contain any variables related to compiling software like additional optimizations ? These examples are from the PHP source
[code]

[2017-01-10 23:28] javian commented on #3847
@uniacid that error seems to be unrelated, can you open a new issue or explain why you think it is similar ?

[2017-01-11 00:07] uniacid commented on #3847
My bad I figured out what happened, I was trying to reinstall which kept my previous options even though I was manually setting them, it seems the libmysql option was causing this so nevermind!

Worked after removing it completely and installing it with the right options I wanted (imap and httpd24)

[2017-01-11 16:03] #3901 closed

[2017-01-11 18:25] collegeman opened #3909 "Where is php71-memcached?"
## Description

I'm running PHP 7.1 underneath Laravel Valet. I need Memcached. Where is the Memcached formula for PHP 7.1?

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12.2
**Homebrew Version:**   | 1.1.6
**PHP Version in use:** | 7.1.0
**Xcode Version:**      | 2347 (?)

**Output of gcc -v:**
Configured with: --prefix=/Applications/Xcode.app

[2017-01-11 18:28] collegeman commented on #3909
I found this:

https://gist.github.com/collegeman/5ec235b37adbeed46ffde84170ad4188

Here:

https://codegists.com/snippet/ruby/php71-memcachedrb_aykutcevik_ruby

Seems legit; but I haven't done a full code review.

[2017-01-11 18:29] alcaeus commented on #3909
At this time, there are no stable releases of either ext-memache or ext-memcached for PHP 7. There are/were a few pull requests introducing head-only formulae for those extensions (as is the formula you've linked above), but those haven't been merged.

[2017-01-11 18:30] collegeman commented on #3909
Thanks @alcaeus!

[2017-01-11 23:38] srl295 commented on #3752
I suspect the issue is the same as I hit for couchdb in https://gist.github.com/srl295/fe933c5e5ccb3a84ef2347f92a47a577#file-brew-relink-old-icus-md

[2017-01-13 14:03] gondo opened #3911 "how to remove imap support?"
## Description

i've installed php with imap `brew install php70 --with-imap`
this caused `WARNING: [pool www] child 46745 exited on signal 11 (SIGSEGV) after 565.621056 seconds from start` when used together with `"guzzlehttp/guzzle": "~6.2"`

i am trying to reinstall php without imap like this `brew reinstall php70` however this still keeps doing `==> Reinstalling homebrew/php/php70 --with-imap`

[2017-01-13 17:38] gondo commented on #2390
same issue here. the problem is only with `php-fpm` php via cli works fine.
see also #3911

[2017-01-13 17:50] gondo commented on #3911
i've edited these files:
    /usr/local/Cellar/php70/7.0.14_7/include/php/main/build-defs.h
    /usr/local/Cellar/php70/7.0.14_7/include/php/main/INSTALL_RECIPE.json
    /usr/local/Cellar/php70/7.0.14_7/include/php/main/php-config

in `INSTALL_RECIPE.json` i've moved `--with-imap` from `used_options` to `unused_options` array and removed `{"full_name":"imap-uw","version":"2007f"}` from `"runtime_d

[2017-01-13 17:50] #3911 closed

[2017-01-13 20:11] meljturner opened #3912 "PHP55-imagick appears to be broken"
## Description

PHP55-imagick appears to be broken

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       |10.12.2
**Homebrew Version:**   |Homebrew 1.1.7
Homebrew/homebrew-core (git revision 9ac50; last commit 2017-01-13)
**PHP Version in use:** | 5.5.38
**Xcode Version:**      | _your Xcode version_

**Output of gcc -v:**
iMac:element-test mel$ gcc -v
Conf

[2017-01-14 10:57] #3746 closed

[2017-01-14 11:42] javian commented on #3909
It looks like memcached 3.0 is about to be released soon so its only a matter of time now. https://github.com/php-memcached-dev/php-memcached/commit/67750f851ad01d054401ce988fe95f7bfe4cb9bf

[2017-01-14 13:25] javian commented on #3912
#3913 should resolve any imagick issues once merged.

[2017-01-14 18:01] kyawkyawsoezhu commented on #3762
**fixed for me**
brew unlink php56-intl
brew install php56-intl

[2017-01-15 03:45] meljturner commented on #3912
It didn't fix it for me. Even after reinstalling everything.

[2017-01-15 11:52] John-ZAF commented on #3842
Greetings all,

I know this was closed, but after a lot of searching this is the closest post I can find relating to the issue I am having...

home-brew is clean, upgraded, pruned and is at version
Homebrew 1.1.7
Homebrew/homebrew-core (git revision 8c01; last commit 2017-01-14)
php56-imagick: 3.3.0_6
imagemagick: 7.0.4-4

env is simple Home-brew Apache 2.4 with multiple php versions (55,56,70,71)

[2017-01-15 15:11] javian commented on #3842
@John-ZAF php56-imagick needs to be updated to the latest version which is on the way.

[2017-01-15 15:12] javian commented on #3912
@meljturner it has not been merged yet. The issue is that the php-imagick version for 5 is no up to date and can't compile against the current php source.

[2017-01-16 07:18] pawel-detka opened #3916 "PHP56-imagick appears to be broken"
## Description

PHP56-imagick appears to be broken.
After update imagick to imagemagick-7.0.4-4

Same issue https://github.com/Homebrew/homebrew-php/issues/3912

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12.2 (16C68)
**Homebrew Version:**   | 1.1.7
**PHP Version in use:** | 5.6.29
**Xcode Version:**      | _your Xcode version_

**Output of g

[2017-01-16 15:28] Michael-Min commented on #3916
I have encountered this problem.

[2017-01-16 19:04] captain-geek commented on #3916
Have been dealing with this problem since last week also. occurs with both php56 and php70

[2017-01-17 10:25] ilovezfs commented on #3912
@meljturner @javian Just a heads up that we've now merged ImageMagick 6 as "imagemagick@6"

[2017-01-17 10:25] ilovezfs commented on #3916
@pawel-detka @Michael-Min @captain-geek Just a heads up that we've now merged ImageMagick 6 as "imagemagick@6"

[2017-01-17 10:40] pawel-detka commented on #3916
@ilovezfs Is there any chance to repair this issue automatically?
I've installed imagemagick@6 and php56-imagick, but normal imagick was installed too.
I've had to recreate sybmolic links:
/usr/local/opt$ rm imagemagick &&  ln -s imagemagick@6 imagemagick

[2017-01-17 12:34] John-ZAF commented on #3842
Thanks, standing by

P.S. brew reinstall php70 php70-intl php70-imagick has the same issues… php70 and intl install perfectly but imagick fails. I presume for the same reason…

PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/local/opt/php70-imagick/imagick.so' - dlopen(/usr/local/opt/php70-imagick/imagick.so, 9): Library not loaded: /usr/local/opt/imagemagick/lib/libMagickWand-6.Q1

[2017-01-17 13:03] jimmiw commented on #3842
I did a
brew reinstall -s php70-imagick
and it worked for me.

[2017-01-17 14:11] captain-geek commented on #3916
@ilovefs Is there a chance to upgrade the version of php56-imagick to 3.4.x? This will work with both 6 & 7 versions of ImageMagick ...

[2017-01-17 14:14] meljturner commented on #3912
Thanks for the notification.
I reinstalled php56 and php56-imagick and still receive the following message; any ideas?

Warning: PHP Startup: Unable to load dynamic library '/usr/local/opt/php56-imagick/imagick.so' - dlopen(/usr/local/opt/php56-imagick/imagick.so, 9): Library not loaded: /usr/local/opt/imagemagick/lib/libMagickWand-6.Q16.3.dylib
  Referenced from: /usr/local/opt/php56-imagick/imag

[2017-01-18 01:49] Danack opened #3919 "Users of PHP Imagick need to recompile when upgrading ImageMagick."
*Note - this is separate from https://github.com/Homebrew/homebrew-php/pull/3913 which would also be required to use a version of Imagick that compiles against ImageMagick 7*

Hello there,

I'm the maintainer of PHP Imagick.

I thought I'd drop a note to clarify an issue Homebrew users seem to be having with PHP Imagick, to avoid traffic elsewhere*

Imagick is a very thin wrapper around the ImageM

[2017-01-18 04:09] John-ZAF commented on #3842
Great, thanks Jimmi, worked for me too!

Johns-MacBook-Pro:~ johnlaatz$ php -i | grep "imagick"
Additional .ini files parsed => /usr/local/etc/php/7.0/conf.d/ext-imagick.ini,
imagick
imagick module => enabled
imagick module version => 3.4.2
imagick classes => Imagick, ImagickDraw, ImagickPixel, ImagickPixelIterator, ImagickKernel
imagick.locale_fix => 0 => 0
imagick.progress_monitor => 0 => 0
imag

[2017-01-18 07:59] aurimasniekis commented on #3601
Don't know. I am not using Apache.

[2017-01-18 10:11] hellopablo commented on #3919
Hey @Danack - I just tried doing as you suggested and still having issues. I have IM7 installed, but reinstalling `php56-imagick` still seems to want to load the IM6 libraries. Am I missing something obvious? I even tried completely removing IM and imagick, then `brew install php56-imagick` and letting brew handle the IM dependancy, but nada.

[code]

As expected, looking in `/usr/local/opt/imagem

[2017-01-18 10:25] Danack commented on #3919
@hellopablo This is a separate additional thing from #3913 which would be required to use a version of Imagick that compiles against ImageMagick 7

[2017-01-18 11:01] black-snow commented on #3601
@Tom29 just install php `--with-httpd24` (install httpd24 before, oc) and then unlink httpd24 and use system apache

[2017-01-18 11:40] alexcroox commented on #3247
I too am failing to install with the `--with-pear` option

[code]

[2017-01-18 11:46] Tom29 commented on #3601
@black-snow how can i unlink httpd24 and use system apache?
after using `brew install php56 --with-apache` how i can't stop apache by `apachectl stop`

[2017-01-18 12:24] jimmiw commented on #3842
As a side note, I had to downgrade imagemagick to 6.x instead of 7.x, else I kept getting exceptions about a lib not being found

[2017-01-18 13:05] black-snow commented on #3601
@Tom29 Use `brew services` ([link](https://github.com/Homebrew/homebrew-services)) to manage brew-installed services. Should be `$ brew services stop httdp24`.

You can unlink httpd24 via `$ brew unlink httpd24`

[2017-01-18 14:15] PopkornKevin commented on #3919
Same issue as @hellopablo, fresh setup install on a new mac.

[2017-01-18 15:32] hellopablo commented on #3919
Thanks @Danack - For what it's worth, here's the output of the rebuild from source. Similar errors to @PopkornKevin

[code]

[2017-01-18 16:34] fdelaiglesia-mobaloo commented on #3912
I managed to fix the issue. It is not the best approach but had to solve the issue fast as bug showed up in middle of development when updating other libraries via brew.

As far as I understand what happens is that when imagemagick@7 is installed/updated links on the /usr/local/opt from previous versions are flushed, i suppose brew does this automatically.

After several tests, reinstall and googl

[2017-01-18 16:43] fdelaiglesia-mobaloo commented on #3919
Same problem here as @hellopablo  and @PopkornKevin with same output.

After googling found out something similar happening with ruby solved by manually linking imagick@6 again to /usr/local/opt

I used:
ln /usr/local/Cellar/imagemagick/6.9.7-0/lib/* /usr/local/opt/imagemagick/lib/

restart apache

Fixed!!

[2017-01-18 16:57] meljturner commented on #3912
The fix using brew seems to be:
brew unlink imagemagick
brew install imagmagick@6   (keg only)
brew link imagemagick@6 —force

then restart php and apache

[2017-01-18 16:57] #3912 closed

[2017-01-19 08:57] fdelaiglesia-mobaloo commented on #3916
The fix using brew seems to be:
brew unlink imagemagick
brew install imagmagick@6 (keg only)
brew link imagemagick@6 —force

then restart php and apache

Thanks to @meljtarner
https://github.com/Homebrew/homebrew-php/issues/3912

[2017-01-19 08:59] fdelaiglesia-mobaloo commented on #3919
The fix using brew seems to be:
brew unlink imagemagick
brew install imagmagick@6 (keg only)
brew link imagemagick@6 —force

then restart php and apache

Thanks to @meljturner
https://github.com/Homebrew/homebrew-php/issues/3912

[2017-01-19 11:06] lukeinage commented on #3916
That fix worked!

Just for clarity though, there were a couple of mistakes in that workaround:

brew unlink imagemagick
brew install imagemagick@6
brew link imagemagick@6 --force

[2017-01-19 11:54] pawel-detka commented on #3916
@meljtarner @fdelaiglesia-mobaloo @lukeinage Thank you

[2017-01-19 14:29] captain-geek commented on #3919
My personal fix for this issue was to manually install imagick-3.4.x manually using PECL instead of using the homebrew package ... I'm confused as to why the fix is not upgrading the imagick package referenced in the homebrew formula ... 3.3.0 -> 3.4.1

Version 3.4.1 is considered stable and compiles against both ImageMagick 6 & 7

[2017-01-21 10:47] javian commented on #3919
These issues should now have been corrected thanks to @alcaeus and thank you for your feedback. Sorry that it took a bit of time to get this merged but I've been busy with some other things in life.

[2017-01-21 10:48] #3919 closed

[2017-01-21 10:49] javian commented on #3916
This has now been fixed and should require no additional commands to make it work as expected.

[2017-01-21 10:49] #3916 closed

[2017-01-21 22:58] basemkhirat commented on #1901
`brew reinstall openssl`
worked for me

[2017-01-23 14:50] jmikola commented on #3737
Perhaps the [patch for ffmpeg's forumla](https://github.com/Homebrew/homebrew-core/commit/4ae579c3c830f7febf6c1098d241c77e90066274) can be adapted from the `phpXX-mongodb` formulae:

[code]

[2017-01-24 12:23] craigcarnell opened #3939 "PHP 7.0.15?"

[2017-01-24 14:44] manuelselbach commented on #3846
I ran into the same problems.
Info screen of Xcode said 8.2, thus I thought everything is ok.

I figured out, that running the following command once more forced Xcode to download the update for the CLI Tools with version 8.2:

```xcode-select —install```

Thus a complete reinstall of Xcode was not necessary.

[2017-01-25 14:03] spalburg commented on #3601
due to apple macos sierra update my install broke
I've reinstalled my php71 --with-httpd24 and checked my apache httpd.conf LoadModulePHP that it loaded the right libphp7.so situated in usr/local/Cellar/php71/7.1.1_12/libexec/apache2 after this everything worked fine

[2017-01-25 18:41] tuliomarchetto commented on #2712
`brew install php71-apcu-bc` worked for me

[2017-01-26 01:04] kwhat commented on #1332
Dude, just cause you got it to work doesn't mean the bug is solved.  @Rastusik Please reopen this.

[2017-01-26 18:17] Rastusik commented on #1332
wouldn't it be better to open a new issue? or do you have exactly the same problem?

[2017-01-26 18:26] kwhat commented on #1332
Same exact issue 3 years latter.  The only difference is that I had to run `brew uninstall $(brew list)` about 4 times.

[2017-01-26 18:49] Rastusik commented on #1332
ok then, fingers crossed :) I'm moving to docker so I don't have to deal with this anymore

[2017-01-26 19:14] kwhat commented on #1332
We are as well!  Long live docker! ;)

[2017-01-26 23:47] biigniick commented on #1940
reinstall from source worked for me too. thanks!

[2017-01-27 18:12] rosiecakes commented on #3601
After a day of troubleshooting, @grigutis's suggestion worked to get my libexec back

[2017-01-28 04:45] BorisAnthony commented on #3842
I'm having this issue with php56…
@javian has that update happened? where can I look to see? thanks!
@jimmiw did you downgrade via brew? how? than you too :)

[2017-01-28 08:43] John-ZAF commented on #3842
Have you run brew update? I recently got the latest php56 and it all installed smoothly.

(Sent from my mobile, please excuse any resulting brevity)

[2017-01-28 16:56] javian commented on #3939
Now merged.

[2017-01-28 16:56] #3939 closed

[2017-01-30 09:18] craigcarnell commented on #3939
@javian thank you

[2017-01-30 14:02] fobin commented on #3916
Where is this fixed? Installing imagemagick with following fails:
brew install php70
brew install php70-imagick

And then php -a gives error:
PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/local/opt/php70-imagick/imagick.so' - dlopen(/usr/local/opt/php70-imagick/imagick.so, 9): Library not loaded: /usr/local/opt/imagemagick/lib/libMagickCore-7.Q16HDRI.1.dylib
  Referenced from: /u

[2017-01-30 14:16] alcaeus commented on #3916
@fobin Unfortunately, this error reappears everytime the imagemagick formula from homebrew-core is updated. I've created #3948 to bump revisions so the error disappears.

In the meantime, you can `brew install -s php70-imagick`. This will install the formula from source instead of using a bottle, making the error disappear.

[2017-01-30 14:20] fobin commented on #3916
@alcaeus Thanks for the quick update. Works now!

[2017-01-30 15:41] DavidLambauer commented on #3842
I still have problems with Imagick. Every php call is leading to the following warning:

`Warning: PHP Startup: Unable to load dynamic library '/usr/local/opt/php70-imagick/imagick.so' - dlopen(/usr/local/opt/php70-imagick/imagick.so, 9): Library not loaded: /usr/local/opt/imagemagick/lib/libMagickCore-7.Q16HDRI.1.dylib
  Referenced from: /usr/local/opt/php70-imagick/imagick.so
  Reason: image not

[2017-01-30 15:54] alcaeus commented on #3842
See https://github.com/Homebrew/homebrew-php/issues/3916#issuecomment-276072774. The key is to `brew reinstall -s php70-imagick` to recompile from source.

[2017-01-30 17:09] DavidLambauer commented on #3842
That doesn't work for me atm. When I run `/usr/local/bin/php -v`, I am getting the following:

`PHP 7.1.1 (cli) (built: Jan 21 2017 13:36:56) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2017 Zend Technologies`

But the error is still the 7.0 one. How can that be?

[2017-01-30 18:04] alcaeus commented on #3842
If you're getting php70 errors even though you're running, best create a new issue with the relevant information. Something seems fishy 🐟

[2017-01-30 18:58] DavidLambauer opened #3950 "PHP 7.1.1 throws PHP 7.0 Warnings"
## Description

I recently updated and upgraded my System via brew. Since then, every time I run php (doesn't matter which binary, MAMP or /usr/local/bin), it throws the following Warning:

`Warning: PHP Startup: Unable to load dynamic library '/usr/local/opt/php70-imagick/imagick.so' - dlopen(/usr/local/opt/php70-imagick/imagick.so, 9): Library not loaded: /usr/local/opt/imagemagick/lib/libMagick

[2017-01-30 20:15] alcaeus commented on #3950
Could you share the output of `php --ini`?

[2017-01-30 20:16] DavidLambauer commented on #3950
`[PHP]

;;;;;;;;;;;
; WARNING ;
;;;;;;;;;;;
; This is the default settings file for new PHP installations.
; By default, PHP installs itself with a configuration suitable for
; development purposes, and *NOT* for production purposes.
; For several security-oriented considerations that should be taken
; before going online with your site, please consult php.ini-recommended
; and http://php.net/manu

[2017-01-30 20:21] alcaeus commented on #3950
Did you have the PHP version installed via brew in your PATH? If not, could you run `/usr/local/bin/php --ini`? Apparently, just running `php` in the terminal resolves to the MAMP binary.

[2017-01-30 20:22] DavidLambauer commented on #3950
At the moment, there are no difference between the error output. This is the Output from /usr/local/bin:

`Configuration File (php.ini) Path: /usr/local/etc/php/7.1
Loaded Configuration File:         (none)
Scan for additional .ini files in: /usr/local/etc/php/7.1/conf.d
Additional .ini files parsed:      /usr/local/etc/php/7.1/conf.d/ext-imagick.ini,
/usr/local/etc/php/7.1/conf.d/php.ini`

[2017-01-30 20:30] alcaeus commented on #3950
To be honest, that doesn't make any sense. Since you're using PHP 7.1, there should not be references to php70-imagick from there.

You could check whether `/usr/local/etc/php/7.1/conf.d/ext-imagick.ini` or `/usr/local/etc/php/7.1/conf.d/php.ini` references `/usr/local/opt/php70-imagick/imagick.so`.

[2017-01-30 20:34] DavidLambauer commented on #3950
Nope it doesn't. I just decided to start from scratch and reinstalled nearly everything, kind of a tabularasa. For now, it seems to work 🤔.... There must have been an error while upgrading the mashine the first time... There is no need to steel your time with that anymore :). Thanks for your help/try.

[2017-01-30 20:34] #3950 closed

[2017-01-30 21:13] huebs commented on #3842
@DavidLambauer that happened to me because I have both php70 and php71 installed. Here's how I fixed it:

[code]

[2017-01-30 21:16] DavidLambauer commented on #3842
Thanks @huebs , I decided to reinstall everything around. My issue seems to be very fishy so it must have been a local thing... Works on my mashine at the moment with PHP 7.1.1! 😝

[2017-01-30 22:18] parkertr commented on #3711
This just happened to me yesterday with php70

[code]

`brew install libtool` also fixed it.

Specs:

[2017-01-30 23:35] karlshea opened #3951 "Prebuilt php70-mcrypt appears broken"
## Description

Install caveats indicate "/usr/local/etc/php/7.0/conf.d/ext-mcrypt.ini was created" but the file isn't there.

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12.2
**Homebrew Version:**   | 1.1.9
**PHP Version in use:** | 7.0.15
**Xcode Version:**      | 8.2.1

**Output of gcc -v:**
Configured with: --prefix=/Applications/Xcode.app

[2017-01-30 23:37] karlshea commented on #3951
Additionally, php-i returns "/usr/local/opt/php70-mcrypt/mcrypt.so doesn't appear to be a valid Zend extension" when I create the file myself

[2017-01-30 23:39] karlshea commented on #3951
`brew reinstall -fs php70-mcrypt` works just fine though, the file is created and the extension loads

[2017-01-31 00:30] BorisAnthony commented on #3842
It seems to be different between php56 and php7x.

"brew reinstall -s" doesn't fix the issue for php56 (I dumped and reinstalled everything and still get:

`Warning: PHP Startup: Unable to load dynamic library '/usr/local/opt/php56-imagick/imagick.so' - dlopen(/usr/local/opt/php56-imagick/imagick.so, 9): Library not loaded: /usr/local/opt/imagemagick/lib/libMagickCore-7.Q16HDRI.1.dylib
  Reference

[2017-01-31 09:48] BorisAnthony commented on #3842
I would try if I knew how…

But really, this shouldn’t happen, right? I though Homebrew checks dependencies etc? Really frustrating. :\

[2017-01-31 09:50] jimmiw commented on #3842
brew info imagemagick <-- shows current version
brew search imagemagick <-- shows available packages
brew remove imagemagick
brew install imagemagick@6

Then it should install the older imagemagick version.

About brew checking for dependencies? yes... but it up to us as uses, to destroy that... :)

[2017-01-31 09:50] alcaeus commented on #3842
@BorisAnthony unfortunately, every update to the imagemagick formula requires a revision bump of php*-imagick to generate new bottles. However, running an install from source (using `-s`) should always work. Did you run `brew upgrade` before?

[2017-01-31 10:12] BorisAnthony commented on #3842
@jimmiw thank you. I tried installing @6 but didn't seem to work out. Will try again. Sometime. Already lost 2 Sundays trying to fix this. And yes, I am sure I destroyed alot in my frantic trying to fix it. :) So many yaks, so little time.

@alcaeus "As a user, I should not have to care about production issues" ;) `brew upgrade` is what broke my perfectly working setup. And yes, i run it regularly

[2017-01-31 13:13] alcaeus commented on #3842
@BorisAnthony I agree - unfortunately this is a problem that reappears if you run `brew upgrade` between an update to the `imagemagick` formula and a rebuild of the `php*-imagick` bottles.

To clear up any possible confusion regarding `imagemagick@6`, this formula is only needed for `php53-imagick`. All other formulae require `imagemagick` version 7 and build against it.

[2017-01-31 16:33] mezklador commented on #3073
This mess is still poped today as I update php70 to version 7.0.15
I have to reinstall php70 without ldap... What's the fuss around ldap in php7's world? Relevant in 2017?

[2017-01-31 23:02] javian commented on #3951
That file is not included in the bottle and create by the Formula when installed so I would guess this is a local issue and you got it to work when reinstalling.  I think the mistake you made when adding your own file was that you added it as a zend extension rather than a regular extension by using `zend_extension=<pathtoextension>` rather than `extension=<pathtoextension>`.

[2017-02-01 05:49] javian commented on #3899
Hi @ohcibi , I think this issue better belongs in the brew repo since its not really related to PHP.

[2017-02-01 11:17] ohcibi commented on #3899
@javian you are right... I posted it in here because - as I've explained in the issue - it all started with php

[2017-02-01 11:17] #3899 closed

[2017-02-01 14:58] orditeck commented on #3951
Same issue here. Seems like an old one, see https://github.com/Homebrew/homebrew-php/issues/1940

`brew install php70-mcrypt` seems to have worked it but didn't create `/usr/local/etc/php/7.0/conf.d/ext-mcrypt.ini`

`brew reinstall -fs php70-mcrypt` did the job.

[2017-02-02 07:14] bryceadams commented on #3841
@javian seems like there was one tagged just a couple days ago :) https://github.com/php-memcached-dev/php-memcached/releases

[2017-02-02 12:28] tfe2012 commented on #3073
I have same problem with php71

and in /usr/local/Cellar/php71/7.1.1_12/ does not exist folder libexec

[2017-02-02 13:23] tfe2012 opened #3960 "php71 does not work with httpd"
## Description

run brew reinstall php71 --with-httpd

And now I get apache error: Cannot load /usr/local/Cellar/php71/7.1.1_12/libexec/apache2/libphp7.so

This folder does not exist /usr/local/Cellar/php71/7.1.1_12/libexec/

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | last
**Homebrew Version:**   | brew -v Homebrew 1.1.9
**PHP Version in use:**

[2017-02-02 17:46] TheadoreL opened #3961 "libpng16.16.dylib error"
## Description

update to php71 and use php -v show php requires version 45.0.0 or later, but libpng16.16.dylib provides version 38.0.0

## Context and Logs

dyld: Library not loaded: /usr/local/opt/libpng/lib/libpng16.16.dylib
  Referenced from: /usr/local/bin/php
  Reason: Incompatible library version: php requires version 45.0.0 or later, but libpng16.16.dylib provides version 38.0.0
Abort trap

[2017-02-03 23:19] javian commented on #3909
memcached 3.0.0 with support for PHP 7.x has just been released and will be merged in tonight or tomorrow depending on how long the bot takes to complete the bottles. #3966 #3967 - closing issue.

[2017-02-03 23:19] #3909 closed

[2017-02-03 23:41] javian commented on #3841
@bryceadams yes - its currently on the way to be merged.

[2017-02-03 23:53] javian commented on #3854
@feivorid did you manage to solve this issue ?

[2017-02-04 04:46] lenyapugachev commented on #3737
@jmikola @javian @jgrossi any updates on these?

[2017-02-04 07:48] javian commented on #3961
The gist log is from php70 and seems to be ok. Did you post the right gist ?

[2017-02-04 14:41] collegeman commented on #3909
YAYAYAYAYAYAY
On Fri, Feb 3, 2017 at 6:19 PM Jan Viljanen <notifications@github.com>
wrote:

--
Aaron Collegeman
Owner, Fat Panda
540-335-9013
yo@fatpandadev.com

[2017-02-05 07:52] #3832 closed

[2017-02-05 11:41] #3951 closed

[2017-02-05 11:43] javian commented on #3951
This has now been corrected in the bottle.

[2017-02-05 14:09] TheadoreL commented on #3961
@javian yes I just generate by demo , i think my problem is ` dyld: Library not loaded: /usr/local/opt/libpng/lib/libpng16.16.dylib` can you give me some suggest

[2017-02-05 14:24] mack-wang commented on #3073
I have the same problem. And I have solved the problem by
`brew install php70 --with-apxs2  --with-apache --with-gmp --with-imap --with-tidy --with-debug`

[2017-02-08 05:18] feivorid commented on #3854
@javian   oh  no   I solved   by   reinstall homebrew

[2017-02-08 05:47] #3854 closed

[2017-02-10 17:35] jmevalentin opened #3985 "Can't locate API module structure `php56_module' in file /usr/libexec/apache2/libphp5.so: dlsym(0x7fb0bae03630, php56_module): symbol not found"
## Description
I  have had several issues over the past year which required a complete reinstall of homebrew and subsequent install of brew packages. I use it mostly for the development stack on my Mac: Apache, Mysql, PHP (and related libraries and tools such as xdebug). Recently, all of my local php sites stopped working and I discovered that my libphp5.so was missing. After frantically reading s

[2017-02-11 00:24] xuqisheng opened #3986 ""brew install php71 --with-httpd24",php71 does not work with httpd"
## Description

php71 does not work with httpd

## Context and Logs

andyP:~ andy$ brew install php71 --with-httpd24
Updating Homebrew...
==> Installing php71 from homebrew/php
==> Downloading https://php.net/get/php-7.1.1.tar.bz2/from/this/mirror
Already downloaded: /Users/andy/Library/Caches/Homebrew/php71-7.1.1
==> ./configure --prefix=/usr/local/Cellar/php71/7.1.1_12 --localstatedir=/usr/local

[2017-02-11 01:40] xuqisheng commented on #3986
update xcode ,and run "xcode-select --install" solved this problem

[2017-02-11 01:40] #3986 closed

[2017-02-11 07:52] javian commented on #3985
You need to use `LoadModule php5_module ...` and not `LoadModule php56_module`.

[2017-02-13 21:14] jmevalentin commented on #3985
That was it, thanks javian!

[2017-02-15 01:04] dzuelke opened #3991 "php71-event El Capitan bottle links against wrong libevent"
## Description

[code]

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.11.6
**Homebrew Version:**   | 1.1.9
**PHP Version in use:** | 7.1.1 (from Homebrew)

[2017-02-15 06:51] alcaeus commented on #3991
Looks like the bottled version of php71-event was built with an older version of libevent. Could you try `brew reinstall -s php71-event` and see if that works? Unfortunately, I can't test it here because the bot didn't create a bottle for macOS Sierra.

[2017-02-15 06:59] adocwang commented on #3737
@lenyapugachev @jmikola jmikola's solution works find. I have meet the error under php71-mongodb.
i think the issue can be explained clearly [here](https://github.com/tarantool/tarantool/issues/1777)
i just telling the detail operation steps about jmikola's solution.

- [ ] `brew edit {fomula} #like php71-mongodb`

- [ ] edit it，add lines after “install”, may like this
`  def install
    Dir.chdir

[2017-02-15 08:55] jrjohnson commented on #3597
Changing /etc/hosts did not solve this issue for me.  Homebrew PHP is still 5x slower than /usr/bin/php.

[2017-02-15 12:38] mityukov opened #3992 "How to install mbstring?"
## Description

Hi, I have php70 installed with homebrew. Can I enable mbstring for this PHP installation somehow?
I can't see appropriate formulae, nor it's mentioned in the `brew options php70` :/

## Context and Logs

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12.3 (16D32) / Sierra
**Homebrew Version:**   | 1.1.9
**PHP Version in use:** | 7.0.15 (cli) (built:

[2017-02-15 14:28] dzuelke commented on #3991
Yup that works of course; should have mentioned that I already tried that, sorry.

[2017-02-15 19:01] alcaeus commented on #3991
Thanks for the update. I would've just bumped the revision, but a formula update takes care of this as well. See #3993.

[2017-02-15 19:04] alcaeus commented on #3992
`mbstring` is installed automatically, see https://github.com/Homebrew/homebrew-php/blob/master/Abstract/abstract-php.rb#L203. You can run `php -m | grep mbstring` to make sure it is available.

[2017-02-16 19:54] javian commented on #3991
I've just merged this update - can you please try again and confirm that its working ?

[2017-02-16 19:58] #3985 closed

[2017-02-16 20:00] javian commented on #3861
Pthreads for 7.1 is still pending an upstream update and once that's released we can get it merged in here. Closing this issue in the meanwhile.

[2017-02-16 20:00] #3861 closed

[2017-02-16 20:13] dzuelke commented on #3991
Fixed indeed. Thank you @javian and @alcaeus!

[2017-02-16 20:13] #3991 closed

[2017-02-17 06:40] lenyapugachev commented on #3737
@adocwang Hooray! 👌

[2017-02-17 10:08] mityukov commented on #3992
Thank you for the answer. It's that I've got it all wrong. I thought that mbstring would automagically make all my `strtolower`, `trim` and so on to work with utf8. It turns out, however, that adding `mb_` prefix is still necessary :-)

[2017-02-17 10:26] alcaeus commented on #3992
Ah, yeah. That's not the case.

[2017-02-17 18:50] viperdigo commented on #3896
My problem still not solving even with the updated composer and the sensio ...

[2017-02-18 13:06] hainuo commented on #3960
需要执行 ```xcode-select --install```

[2017-02-20 03:18] chainkite opened #4002 "Error when `brew tap homebrew/php`"
## Description
I am new to php.
Got error when `brew tap homebrew/php`.
It seems has problem between `@` and `AT`.

## Context and Logs
[code]
Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12.3
**Homebrew Version:**   | Homebrew 0.9.9 (git revision 06fe3; last commit 2016-08-10)
**PHP Version in use:** | Not related to php version
**Xcode Version:**      | Not relat

[2017-02-20 03:26] JCount commented on #4002
Please try updating homebrew, as your version is quite out of date.

[2017-02-20 22:19] javian commented on #4002
@chainkite looks you are caught by this bug - https://github.com/Homebrew/brew#update-bug . The date of the last homebrew commit seems to match.

[2017-02-20 22:20] #3992 closed

[2017-02-20 23:02] javian opened #4005 "The future of the PHP tap and formulas, please give your input"
This has turned into a slightly longer text than I would have hoped but I would like to get some feedback. Using an issue might not be the best way to collect this kind of information but it is a start and I'd like to keep it as open as possible for people who input. I also don't know how many people in the community that this will touch but there are other ways of reaching out in case it is neede

[2017-02-21 00:01] ablyler commented on #4005
I'm a big fan of moving to separate formulas for each SAPIs.  I started working on that a long time ago, but never finished.  I'm also fine with removing the abstraction for the PHP version + checksums.  We can accomplish the changing of this information via code pretty easily.

I need to look into this some more, but my gut says to not reinvent the wheel.  We should look at how Centos / Ubuntu /

[2017-02-21 07:38] javian commented on #4005
@ablyler I agree - reinventing the wheel should be avoided if possible. Ubuntu breaks out a lot of the core modules so there might be 15-20 packages for every new release which is a bit much imo but I also think that the use case for Ubuntu is more geared towards servers where you might want to turn off modules that you are not using whereas we might not be as picky in the PHP tap since its mainly

[2017-02-21 07:51] tangkunyin commented on #2929
@javian thanks. after run that commands,it works

[2017-02-21 12:42] dn5 opened #4006 "MongoDB: Symbol not found [basic_globals]"
## Description
While setting up local environment for personal project, I've found out that the installing MongoDB extension creates an error for PHP extension config. Mongo-ext is installed through `brew install php70-mongodb`.

## Context and Logs
- Install MongoDB for PHP7 (`brew install php70-mongodb`)
- Run `php -v`
- Output:
[code]

Parameter | Value
--------- | ------------------
**OS X Ver

[2017-02-21 15:00] javian commented on #4006
@dn5 my guess would be that it is not compatible with thread safety. Can you try to `brew reinstall -s php70-mongodb` to compile it from source and see if that works ? The bottle is compiled against a non thread safe php.

[2017-02-21 18:28] josegonzalez commented on #4005
We used to do this way back when, and it resulted in a lot of duplication, hence my move to the `AbstractPHP` formula.

I'm ambivalent towards a change. Whatever makes it easy for you all to maintain gets a 👍 from me though.

One thing you might do to figure out default extensions is look at what heroku provides. I'd also love to have `intl` as default, but thats a pita to get working properly wit

[2017-02-21 21:21] #3742 closed

[2017-02-21 21:48] ablyler commented on #4005
@javian I believe that Ubuntu / Gentoo will install the CLI if you attempt to install a PHP module without any SAPI installed.  I can check tonight.

@josegonzalez yeah, the abstract does make life easier for us. @javian what is the reason for moving away from it? Is it just to allow the moving of these formulas to homebrew proper?

[2017-02-22 02:34] chainkite commented on #4002
@javian Thx a lot. The update bug was to blame!

[2017-02-22 02:34] #4002 closed

[2017-02-22 09:39] geeksweep commented on #3601
I cannot get this to work... downloaded latest php 7.1.2.13 from homebrew. I have tried multiple ways (all comments/suggestions here) and nothing works. it looks like it also creates a different/added subfolder in the Cellar directory:

cd /usr/local/Cellar/php71/7.1.2_13/

and i get

[code]

Im running El Capitan, OSX 10.11.6

any pointers/questions? Ill be glad to look through things to help out

[2017-02-22 10:44] black-snow commented on #3601
@geeksweep `cd` prints your directory contents? :P
What *exactly* is your issue?

[2017-02-22 13:25] dn5 commented on #4006
Oh, blame me @javian. It's correct, lately I have been experimenting with CLI pthreads (ZTE) for PHP (I know, I know ...), and seems that since then it was breaking the mongodb extension.

Okay let's see:
[code]

Result:
[code]

[code]

Everything works flawlessly and threading work including the Mongo ext. What was up with that? Was it really compatibility issue and what sort of?

[2017-02-22 15:16] javian commented on #4006
@dn5 As far as I know the exposed functions between the thread safe php and the non thread safe php is different and a module compiled for one does not work with the other as far as I know. Glad you got it working!

[2017-02-22 15:18] javian commented on #4005
@ablyler I would guess so too which makes a lot of sense. Since most people who use php from homebrew is working with some kind of development you would expect that everyone uses the cli to some extent so I would suggest that the cli is the only dependency and other SAPIs can be installed as needed.

[2017-02-22 15:54] javian commented on #4005
@josegonzalez can you recall what was related to the pita of getting intl built by default ? Might there be any record of it in the git logs ?

[2017-02-22 15:56] javian commented on #4006
@dn5 and feel free to close the issue if you are satisfied with the response =)

[2017-02-22 16:02] geeksweep commented on #3601
@black-snow haha yeah i was cd'ing then 'tabbing' to get those results -- sorry for the confusion.

I cannot get the libexec folder to be created nor the shared object(as also mentioned in the comment before). I am attempting to set up a php web service for an iOS app - so that is why i am here.

[2017-02-22 21:33] black-snow commented on #3601
@geeksweep On a mac? Guess it's for development? In case you don't need fancy stuff you could also use the [built-in webserver](http://php.net/manual/en/features.commandline.webserver.php) (php5.4+). `$ cd` into your *doc root* and `$ php -S localhost:8080` or whichever* port you want.

Otherwise let's make a clean attempt.

[code]

[2017-02-23 01:41] geeksweep commented on #3601
@black-snow , Yes Mac OSX 10.11.6, El Capitan. This server will eventually live on a remote Mac and the iOS app will communicate with it to get/update/whatever on a mysql database.  (i assume phpmyadmin. thats a little bit out of topic but thats the goal. I dont have any back end service experience at all but im trying to learn the basics just to get by. The php web service will probably have abou

[2017-02-23 02:26] p3palazzo commented on #3601
Given that Apple has a knack for breaking the web server configuration with every system upgrade, it makes sense to use homebrew php and Apache.

[2017-02-23 08:41] dn5 commented on #4006
Make sense. Totally forgot about it. Thank you anyway. Closing the issue since it's resolved.

Cheers 🎉

[2017-02-23 08:41] #4006 closed

[2017-02-23 09:02] black-snow commented on #3601
@p3palazzo true

@geeksweep yep, you can ignore the warning or just delete the header file (unless you put it there yourself for any reason).

[2017-02-23 09:38] samuelg0rd0n commented on #2766
Happened to me today as well and installing from the source fixed it. Thank you for the solution.

[2017-02-23 18:16] amorino opened #4009 "Error: /usr/local/opt/php56 is not a valid keg"
## Description

When I try to install php56 I get the following error:

## Context and Logs

Error: /usr/local/opt/php56 is not a valid keg

Parameter | Value
--------- | ------------------
**OS X Version:**       | 10.12.3
**Homebrew Version:**   | Homebrew 1.1.10
**PHP Version in use:** | 5.6
**Xcode Version:**      | 8.2.1

**Output of gcc -v:**
Configured with: --prefix=/Library/Developer/Comm

[2017-02-24 15:01] tfe2012 commented on #3444
I have same problem

[2017-02-25 17:06] forestlovewood opened #4011 "Unable to load dynamic library error with all versions of PHP on Sierra"
## Description

When I install PHP using Homebrew, any extensions that I attempt to load (including the core extensions such as `mysqli` and `gd2`) throw an `Unable to load dynamic library` error during any use.

The error thrown is as follows:
[code]

The folder referenced, `/usr/local/Cellar/php70/7.0.15_8/lib/php/extensions/no-debug-non-zts-20151012`, does not exist. The command used for instal

[2017-02-27 08:30] tfe2012 commented on #3444
I run:

brew install php70 --with-apxs2 --with-apache --with-gmp --with-imap --with-tidy --with-debug --with-httpd24 --build-from-source

after that run apachectl -t

httpd: Syntax error on line 171 of /private/etc/apache2/httpd.conf: Cannot load /usr/local/opt/php70/libexec/apache2/libphp7.so into server: dlopen(/usr/local/opt/php70/libexec/apache2/libphp7.so, 10): Library not loaded: /usr/local/

[2017-02-27 08:32] tfe2012 opened #4015 "libphp7.so requires version 6.0.0 or later, but libaprutil-1.0.dylib provides version 4.0.0"
Parameter | Value
--------- | ------------------
**OS X Version:**       | _your OS X version_
**Homebrew Version:**   | _your Homebrew version_
**PHP Version in use:** | _your PHP version_
**Xcode Version:**      | _your Xcode version_

**Output of gcc -v:**

Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 8

[2017-02-27 08:33] tfe2012 commented on #3073
does not help

[2017-02-27 08:49] dmetzler1988 commented on #3444
@tfe2012 sry, i have not found a solution for it.
after i installed and uninstalled imagick i have the same problem again.
i will reinstall my macbook in the next days - hope then i will not have this problem anymore.

[2017-02-27 21:17] javian commented on #4015
@tfe2012 does it work with the homebrew apache ?

[2017-02-27 21:22] javian commented on #4011
Since you are on a mac it should not even use dll so I don't have a clue where the references to them came from. Can you do `grep -Rl no-debug-non-zts-20151012 /usr/local/etc/php/7.0` to see which config files that contains the reference ?

[2017-02-27 21:25] javian commented on #3961
@TheadoreL did you manage to solve this ? I would try to install php from source. `brew reinstall -s php71` to see if that solves it

[2017-02-27 22:26] forestlovewood commented on #4011
I ran `grep -Rl no-debug-non-zts-20151012 /usr/local/etc/php/7.0` and there was literally no output at all. It's bizarre. I just tried another clean installation for this - installed macOS Sierra 10.12.3, installed Xcode 8.2.1, installed command line tools 8.2.1, installed Gomebrew 1.1.10, then followed the instructions to the letter on the README for this repo to install PHP 7.0, and it had the e

[2017-02-28 07:33] tfe2012 commented on #4015
What do you mean ?

[2017-02-28 12:41] tfe2012 commented on #4015
apachectl -t return error

[2017-02-28 12:41] tfe2012 commented on #4015
brew install php70  --with-apache

return same probleme

[2017-02-28 12:51] lightbe commented on #3283
This is still a problem as of a few days ago. I was attempting to install Phusion Passenger on my Mac Mini Server and got this error when executing **passenger-install-apache2-module**. After contacting Phusion about this error I was told that the reason for the errors is that Apple removed the apr-1-config and apu-1-config executables from the Sierra dev tools, but left references to them in apxs

[2017-03-01 05:40] javian commented on #4015
It looks like apache is reading the config that comes with macOS and not the one that's included with homebrew. If you `which apachectl` it should tell you the path to the script to see if you are using macOS apachectl or homebrews.

[2017-03-01 07:28] tfe2012 commented on #4015
/usr/local/bin/apachectl

[2017-03-01 10:58] bytehead commented on #2766
Same on php71:
`PHP Warning:  Version warning: Imagick was compiled against Image Magick version 1796 but version 1797 is loaded. Imagick will run but may behave surprisingly in Unknown on line 0`

This fixed it:
`brew uninstall --force php71-imagick`
`brew install  --build-from-source php71-imagick`

[2017-03-01 11:00] alcaeus commented on #2766
Alternatively: `brew reinstall -s php71-imagick`. #4014 fixes this (again).

[2017-03-01 11:14] craigcarnell opened #4018 "PHP 7.0.16 was released"
https://github.com/Homebrew/homebrew-php/pull/4003

[2017-03-01 13:49] Artistan commented on #3166
I had similar happening for php71
FYI for others.... make sure your call REinstall....

brew **reinstall** --build-bottle php71-imagick

[2017-03-02 01:50] satyagv557 commented on #3629
@javian: I have similar issue, using Sierra with Apache 2.2.31,  getting below error.

httpd: Syntax error on line 122 of /Users/Shared/Development/env/local/cust/httpd-b2c/conf/httpd.conf: Cannot load /Users/Shared/Development/env/local/cust/httpd-b2c/modules/mod_rewrite.so into server: dlopen(/Users/Shared/Development/env/local/cust/httpd-b2c/modules/mod_rewrite.so, 10): Symbol not found: _apr_s

[2017-03-02 23:00] javian commented on #4015
Ok that's homebrew then. I don't get why it tries to read the macos httpd config though - it should read the one in `/usr/local/etc/apache2/...` .

[2017-03-02 23:05] javian commented on #4015
How about `grep HTTPD /usr/local/bin/apachectl` ?

[2017-03-05 11:56] islamz commented on #3737
@adocwang you the best

[2017-03-05 17:43] pinepain commented on #3665
Closing is it should be probably fixed directly or indirectly.

[2017-03-05 17:43] #3665 closed

[2017-03-06 08:05] tfe2012 commented on #4015
michail$ grep HTTPD /usr/local/bin/apachectl
HTTPD='/usr/local/Cellar/httpd24/2.4.25/bin/httpd'
    $HTTPD -k $ARGV
    $HTTPD -t
    $HTTPD "$@"

[2017-03-08 11:50] darrynten commented on #3901
For anyone getting here via Google, the solution is to add the `--env=std` switch when installing.

[2017-03-08 17:09] abedzilla commented on #3633
I experienced the same issue.

[2017-03-10 11:34] FrancisVarga commented on #4011
Have the same problem everything explode when i installed php70 all modules got screwed up

[2017-03-10 11:52] FrancisVarga commented on #4011
Ok all modules has to be build from source... Thanks

[2017-03-11 10:49] javian commented on #4011
@FrancisVarga that's a completely different issue its not related to this.

[2017-03-11 10:53] javian commented on #4011
@forestlovewood could you do `php -i | grep php.ini` to check which path php uses to check for the ini file ?

[2017-03-13 16:26] mikethejet commented on #3444
any news? i have this problem already..

[2017-03-13 16:32] dmetzler1988 commented on #3444
@mikethejet
i have reinstalled my macOS and install all the things. Now i haven't any probems with this.
Remeber to install php with httpd24 on Sierra.
[code]

[2017-03-13 17:48] forestlovewood commented on #4011
@javian it uses `/usr/local/etc/php/5.6` as the location and `/usr/local/etc/php/5.6/php.ini` as the file.

[2017-03-14 09:59] yunwe commented on #3601
I followed all steps mentioned here, and I got working version of php7.1 together with libphp7.so.
But when I add `LoadModule php7_module /usr/local/opt/php71/libexec/apache2/libphp7.so` to httpd.conf file, php files stop working. When I uncommented back `LoadModule php5_module libexec/apache2/libphp5.so` everything works fine. Any Idea?
PS. I installed php7.1 using `brew install php71 --with-http

[2017-03-14 13:55] spalburg commented on #3601
go over the brew upgrade php7.1 messages in your terminal it might seem that it upgraded but you might have some instructions that you missed to make it work

[2017-03-14 13:57] spalburg commented on #3601
furthermore before upgrading your php7.1 you probably had to unlink the php that was linked before upgrading and after the upgrade you have to link the proper php version for it to work

regards M

[2017-03-14 14:06] spalburg commented on #3601
brew doctor should tell you a thing or two about your php
did you actually check the paths you mentioned in your post with finder to see if the libphp files actually reside in that directory?
if you restart your apache server with: sudo apachectl -k restart do you get a message ?

[2017-03-14 14:11] spalburg commented on #3601
if you still cant get it to work after checking all that read the link i send you closely that you understand all that steps and compare it to your setup and adjust where needed.

https://getgrav.org/blog/macos-sierra-apache-multiple-php-versions <https://getgrav.org/blog/macos-sierra-apache-multiple-php-versions>

regards M

[2017-03-14 14:29] spalburg commented on #3601
last thing i can think of i NEVER had to unlinked my apache24 OS 10.12.2 for it to work
and my httpd.conf file resides in: /usr/local/etc/apache2/2.4

[2017-03-15 08:35] yunwe commented on #3601
I've been using system apache and got stuck there. After I've been following every steps in [https://getgrav.org/blog/macos-sierra-apache-multiple-php-versions](https://getgrav.org/blog/macos-sierra-apache-multiple-php-versions) and shifted to brew apache, it works like a charm. Thank you.

[2017-03-15 11:44] yurikoles commented on #4005
So what is the plan now? I'm volunteering to work on this ticket.
Do we need to share some code in OOP?

[2017-03-15 11:46] josegonzalez commented on #4005
@javian has to do with linking to ICU iirc. It should be in the logs for this repo.

[2017-03-15 11:52] yurikoles commented on #4005
@josegonzalez, sorry I didn't get it. I see some commits regarding ICU, but what I need to see there?

[2017-03-15 17:45] yurikoles commented on #4009
@amorino have you tried `brew gist-logs php56`?

[2017-03-18 10:28] koizorapp commented on #4015
@javian 你好! 我也遇到了同样的问题。我使用的是  brew install php71 --with-httpd24  ,安装成功以后 我又通过 brew uninstall --ignore-dependencies httpd24 卸载了apache ，我使用 which apachectl 得到的是/usr/sbin/apachectl。 不知道我这个怎么解决，错误依然是那样。拜托！

[2017-03-20 11:00] rquadling opened #4051 "How do I install a specific version of PHP?"
## Description

I need to install a specific version of PHP (5.4.32) to do some testing. Travis only has the latest releases. A client can't upgrade and is reporting problems with one of the packages that is passing all tests fine on the latest (and last) PHP 5.4.45.

I can unlink my current PHP70 and install PHP5.4.45, but I can't see the magic I need to cast to install 5.4.32.

Am I missing some

[2017-03-20 19:10] smileytechguy opened #4054 "php 7.1.3 was released"

[2017-03-20 22:05] aleb opened #4055 "Arcanist.rb has a very old stable"
The arcanist team does releases by pushing to the `stable` branch, not by creating a tag or by creating a release in github. This happens weekly. The arcanist installed by the arcanist.rb formula is very very old and does not work anymore with recent phabricator instances.

Please tell me if you need more info.

[2017-03-20 22:06] aleb commented on #4055
I tried something like this, but it does not work:

[code]

[code]

[2017-03-21 08:14] alcaeus commented on #4054
#4043 is already there and waiting to be merged.

[2017-03-21 08:15] alcaeus commented on #4055
There has been discussion about this in https://github.com/Homebrew/homebrew-php/pull/3731#issuecomment-256469360 and a suggested solution in https://github.com/Homebrew/homebrew-php/pull/3864#issuecomment-268447510.

[2017-03-21 13:12] paladox commented on #4055
I think #4056 will fix this.

[2017-03-22 03:15] smileytechguy commented on #4054
oops, ok . will close once its merged

[2017-03-22 08:46] #4018 closed

[2017-03-22 08:47] craigcarnell opened #4057 "PHP 7.0.17 was released"

[2017-03-22 08:47] craigcarnell commented on #4057
https://github.com/Homebrew/homebrew-php/pull/4044

[2017-03-22 22:29] javian commented on #4057
Merged

[2017-03-22 22:29] #4057 closed

[2017-03-22 22:29] javian commented on #4054
Merged

[2017-03-22 22:29] #4054 closed

[2017-03-22 22:31] javian commented on #4011
@forestlovewood that looks very strange since you are running php 7. Now that that is clear though what does `grep -Rl no-debug-non-zts-20151012 /usr/local/etc/php/5.6` output ?

[2017-03-22 22:35] javian commented on #4051
It is not possible in brew. You can do it with some manual work though.

I would suggest that you copy the formula file `php54.rb` and hardcode the url and sha and version to the version that you want to use in the new formula file. You can keep the file in the Formula directory without it being affected by other upgrades.

[2017-03-22 23:05] javian commented on #4005
@josegonzalez I think this is it https://github.com/Homebrew/homebrew-php/commit/ea9c407ba4231a78b1093d3541575b214e3106d0 - should be easy to check the current status of this @yurikoles . I'm quite busy irl at the moment and probably won't have much time to look at this until easter.

[2017-03-22 23:09] rquadling commented on #4051
Thank you.

[2017-03-22 23:09] #4051 closed

[2017-03-22 23:26] paladox commented on #4055
You could run brew install arcanist --head

[2017-03-23 04:04] feivorid opened #4060 "Error: /usr/local/opt/php71 is not a valid keg"
when I try to install php71  show the error     **Error: /usr/local/opt/php71 is not a valid keg** ;

and next I try  :
[code]
and so on
but it does not work too!

so  need help  .

[2017-03-23 13:16] soldovskij opened #4061 "Cannot install php71-redis"
## Description

Cannot install php71-redis.
When try
`brew install php71-redis --without-homebrew-php`
or any php71-* in terminal see
`Error: Unsupported PHP API Version`

I think this problem in
https://github.com/Homebrew/homebrew-php/blob/master/Abstract/abstract-php-extension.rb, because in this file has only that versions:
`{ 53 => 20090626, 54 => 20100412, 55 => 20121113, 56 => 20131106 }`.

[2017-03-24 16:19] coreation commented on #4009
+1 same issue atm, brew gist-logs php56 results in "No logs."

[2017-03-25 09:18] javian commented on #4009
Does `brew doctor` give you any advice on what to do ?

[2017-03-25 09:41] javian commented on #4009
Could you also try
`brew uninstall php56`
and then reinstall
`brew install php56`
and see if that works ?

[2017-03-25 16:25] Purelightme opened #4066 "Cann't install php56-sphinx"
## Description

My php is php56 installed through homebrew.Because my php is debug version,i use "brew install php56-sphinx -fs" to install php extensions suitable with my php.But i cannot install it successful,The output just like this:

## Context and Logs

$ brew install php56-sphinx -fs
Updating Homebrew...
==> Installing php56-sphinx from josegonzalez/php
==> Downloading https://pecl.php.net/

[2017-03-25 17:13] #2483 closed

[2017-03-25 17:30] javian commented on #4061
@soldovskij you are not using the php that comes with macos and must have installed it in some other way. php 5.6 is what ships with Sierra so using `--without-homebrew-php` is unsupported.

How did you install php on your machine ?

[2017-03-25 17:37] javian commented on #4066
This looks like a connection error to me. Did you try it again ?

[2017-03-25 17:40] javian commented on #3597
@jrjohnson if you keep having issues then please open a new issue

[2017-03-25 17:51] javian commented on #3750
Still no tagged release available upstream.

[2017-03-25 18:00] xmontero commented on #3896
I got the same problem. I reached the very same point: Failed in the `symfony-scripts`. In particular it failed with the `executeBuildBootstrap` method of the `SensioDistributionBundle` when it launches a second `php` process the the line `$process->run(function ($type, $buffer) use ($event) { $event->getIO()->write($buffer, false); });`

For some reason the problem was originated because of an in

[2017-03-26 07:29] javian commented on #4060
Can you try

`brew uninstall php71`
`brew prune php71`

and then retry the install

`brew install php71`

and see if that works.

[2017-03-26 07:31] javian commented on #4055
The PR for updating arcanist have been merged - can you test it and see if it works now ?

[2017-03-26 07:35] javian commented on #4009
Could you also try `brew prune` and see if that resolves the issue ?

[2017-03-26 08:19] javian commented on #3737
Feel free to submit a PR that does this.

[2017-03-26 08:19] javian commented on #3961
Closing issue in 2 weeks if no response.

[2017-03-26 08:24] javian commented on #4005
So the way Ubuntu does PHP is that they install the binaries with an appended version and then there's a seperate mechanims using `update-alternatives` that selects the "right" php version for you and sets up the aliases. As far as I know there's no equivalent in homebrew unless you use `:keg_only` and then link the formulas with some kind of script or manually.

[2017-03-26 08:44] javian commented on #4005
Ubuntu contains 68 packages that are related to php70. A number of these a modules are the extensions that are bundled with the php source. We have 10 modules as outlined above that sit outside of the core package and I would think that the main argument for that is that they depend on external formulas so if the external formula is updated we don't have to recompile all of php to make it work.

T

[2017-03-26 08:45] feivorid commented on #4060
@javian    yes   I tried  ,but it dose not work too ;

[2017-03-26 09:00] javian commented on #4060
Can you paste the output of `brew config` ?

[2017-03-26 09:28] Purelightme commented on #4066
I got the same result after five attemps.It seesms not to be network'matter.Can you try it on your computer?

[2017-03-26 09:30] feivorid commented on #4060
@javian

▶ brew config
HOMEBREW_VERSION: 1.1.11
ORIGIN: https://github.com/Homebrew/brew
HEAD: 394f9fa0aaa5854aa52bc589708a079665dcf462
Last commit: 3 weeks ago
Core tap ORIGIN: https://github.com/Homebrew/homebrew-core
Core tap HEAD: edff63105ab5f1d366e089774e4dc5c832d256a3
Core tap last commit: 2 hours ago
HOMEBREW_PREFIX: /usr/local
HOMEBREW_REPOSITORY: /usr/local/Homebrew
HOMEBREW_CELLAR: /usr

[2017-03-26 11:05] javian commented on #4060
@feivorid just to exclude brew (its not been updated for 3 weeks on your machine) can you `brew update`twice and then run `brew upgrade` and try again ?

[2017-03-26 11:09] javian commented on #4060
I'm not sure that advice is solid now that I think of it since if you're not running as a developer you will only download the versioned releases.

[2017-03-26 11:10] javian commented on #4060
What does `brew doctor` output ?

[2017-03-26 11:12] javian commented on #4060
Could you also try to run `brew install php71 --debug` ?

[2017-03-26 11:32] javian commented on #4066
@Purelightme I had no problems installing it here. What does you `brew doctor` output ?

[2017-03-26 13:00] feivorid commented on #4060
@javian
`brew doctor`
Your system is ready to brew.

`brew install php71 --debug`
/usr/local/Homebrew/Library/Homebrew/brew.rb (Formulary::FormulaLoader): loading /usr/local/Homebrew/Library/Taps/homebrew/homebrew-php/Formula/php71.rb
Error: /usr/local/opt/php71 is not a valid keg
/usr/local/Homebrew/Library/Homebrew/keg.rb:185:in initialize
/usr/local/Homebrew/Library/Homebrew/cmd/install.rb:194:

[2017-03-26 13:05] Purelightme commented on #4066
$ brew doctor
Please note that these warnings are just used to help the Homebrew maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry and just ignore them. Thanks!

Warning: Homebrew's sbin was not found in your PATH but you have installed
formulae that put executables in /usr/local/sbin.
Consider setting the PATH for example like

[2017-03-26 13:44] Purelightme commented on #4066
$ brew doctor
Please note that these warnings are just used to help the Homebrew maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry and just ignore them. Thanks!

Warning: Homebrew's sbin was not found in your PATH but you have installed
formulae that put executables in /usr/local/sbin.
Consider setting the PATH for example like

[2017-03-26 16:52] erlipknot commented on #4060
same error here, exactly the same

brew install php71 --debug
/usr/local/Homebrew/Library/Homebrew/brew.rb (Formulary::FormulaLoader): loading /usr/local/Homebrew/Library/Taps/homebrew/homebrew-php/Formula/php71.rb
Error: /usr/local/opt/php71 is not a valid keg
/usr/local/Homebrew/Library/Homebrew/keg.rb:185:in `initialize'
/usr/local/Homebrew/Library/Homebrew/cmd/install.rb:194:in `new'
/usr/loca

[2017-03-28 15:32] lachieh opened #4071 "Installing php71 and composer in the same brew install command fails"
## Description
Not really sure if this is a homebrew-php issue or a homebrew issue, but if you run the following command, it fails:
`brew install php71 composer`

This is because it doesn't recognize that php71 was installed immediately prior.

**Log from `brew install php71 composer`:**
[code]

If you swap the order around, you get the following:

**Log from `brew install composer php71`:**
[code

[2017-03-28 19:52] yurikoles commented on #4071
I can confirm this issue.

[2017-03-28 20:54] javian commented on #4060
The error comes from https://github.com/Homebrew/brew/blob/master/Library/Homebrew/keg.rb#L185 suggesting that something is up with paths or that brew is confused on that topic. Would you be comfortable in debugging that section and see what the variables contain before the raise is executed ?

[2017-03-28 21:01] javian commented on #4066
Can you show your `brew config` as well ?

[2017-03-29 03:39] feivorid commented on #4060
e ,    I do not understand  !  your mean  I should add some variables in my paths?

[2017-03-29 14:12] bvong commented on #4060
Same error for me, I fixed it by **remove the broken folder /usr/local/opt/php71** :
`rm -rf /usr/local/opt/php71`

Then just retry :
`brew install php71`

It works well for me !

[2017-03-29 20:38] javian commented on #4071
The reason for this is the somewhat lacking dependency/requirement check in https://github.com/Homebrew/homebrew-php/blob/master/Requirements/php-meta-requirement.rb since it only checks for previously installed formula. I'm not sure if there is a way to detect that a formula is about to be installed but I'm open to modifying it since it should preferably not be done this way.

[2017-03-29 20:53] javian commented on #4060
@bvong do you know what the content in that directory was when you removed it ?

@feivorid can you try this solution as well ?

[2017-03-29 20:56] bvong commented on #4060
It contains only empty folder

[2017-03-29 21:35] javian commented on #4060
@bvong thanks for the feedback.

[2017-03-30 06:29] remy-actual commented on #3961
I had the same issue tonight:
[code]

Tried quite a few fruitless things before @javian 's recommendation to reinstall from source with **`brew reinstall -s php71`** finally resolved the problem for me.

[2017-03-30 14:27] javian commented on #3961
Thanks for the feedback @remy-actual , the bottle for this formula needs to be regenerated which should solve the issue.

[2017-03-30 15:17] lachieh commented on #4071
That's fair. Honestly, I'm not sure how other packages handle this so I don't have a solve, it just makes installs on new setups a whole 15 keystrokes longer which is the end of the world, and everyone should panic, obviously.

[2017-03-31 01:45] AzizSaleh opened #4076 "Error when building php 5.6 --with-libmysql"
## Description

I am trying to build php 5.6 (also tried with 5.5 with similar outcome):

$brew install php56 --with-httpd24 --with-postgresql --with-libmysql

The error starts after make:

[code]
Raw: https://gist.githubusercontent.com/anonymous/85a8811b7603c921ee455db8f7684e4f/raw/08084247a2a77a0afafb99b87fa5e4acb2683a9e/02.make

## Context and Logs

Parameter | Value
--------- | ---------------

[2017-03-31 09:10] javian commented on #4076
This might be a rock that no one has turned for quite some time. It looks like the code references to a mysql installation in homebrew but its not listed as a dependency. It does look like you have it installed so there's probably is an issue in the Formula somewhere.

[2017-03-31 09:17] javian commented on #4071
@lachieh =D - we need to rewrite the requirement code. I'll give it a go over the weekend because it does also introduce other "bugs" and behaviour that might not want to see.

[2017-03-31 10:15] Merovex commented on #4066
I'm running into the same problem.

[code]

## Brew Doctor

[code]

## Brew Config

[code]

[2017-03-31 12:31] Purelightme commented on #4066
why does phpize run error?
![2017-03-31 8 29 17](https://cloud.githubusercontent.com/assets/16385534/24550481/c9096550-1650-11e7-92d4-419615b3d98c.png)

[2017-04-01 09:11] feivorid commented on #4060
yes ,  it works !

thanks so much  @javian  @bvong

[2017-04-01 09:12] #4060 closed

[2017-04-02 12:39] Merovex commented on #4066
Any update on this? This break is preventing me from a full upgrade.

[2017-04-03 05:08] javian commented on #4009
@amorino it seems that for some reason there directory is left behind. Can you try to examine

`/usr/local/opt/php56`

and check the contents there ? If its empty or doesn't have any files that you need then remove it

`rm -rf /usr/local/opt/php56`

Then just do :

`brew install php56`

and it should work as expected.

[2017-04-04 13:55] scottgutman commented on #3736
Hi! Have you run:

`xcode-select --install`

it should remedy the problem. See #1946 .

See: https://github.com/Homebrew/homebrew-php/issues/2929

[2017-04-05 03:22] joygo1943g opened #4088 "Cannot find config.m4. Make sure that you run '/usr/bin/phpize' in the top level source directory of the module"
## Description

_Problem description goes here_

## Context and Logs

Parameter | Value
--------- | ------------------
**macOS version:**       | _your macOS version (output of `sw_vers -productVersion`)_
**Homebrew version:**   | _your Homebrew version (output of `brew --version`)_
**PHP version in use:** | _your PHP version (output of `/path/to/php -v`)_
**Xcode version:**      | _your Xcode ver

[2017-04-05 08:54] javian commented on #4088
@joygo1943g did you miss to put the information in the issue ? There's nothing to go on here apart from the title which doesn't give any info.

[2017-04-06 20:12] javian commented on #4066
@Merovex you are having a different issue so you should open your own and not use someone elses. You need to run `xcode-select --install` and the libz issue should be gone.

[2017-04-06 20:14] javian commented on #4066
@Purelightme can you try to reinstall/recompile php56 and see if that works ?

[2017-04-07 10:42] wujku commented on #2390
@gondo This does not solve the problem.
I need both: curl (https) and imap.
What can i do in this situation?

PHP 7.0.17 from Homebrew.

[2017-04-07 10:51] gondo commented on #2390
@wujku no idea, sorry :/

[2017-04-08 04:49] BenjaminHCCarr opened #4104 "php5[5-6] fails on libevent w|wo php5[5-6]-event"
## Description
Both php55 and php56 fail in `php5x-http/http.so` whether php-event is installed or not.

I was not wedded to `php55` so thought maybe as I had not pinned things I should move to `php56` to solve the problem; it did not.

This looks remarkably similar to Homebrew/homebrew-php#3991 though installing `php56-event/2.2.1` did not fix this. It looks like the same/similar patch from Homeb

[2017-04-08 05:09] BenjaminHCCarr commented on #4104
Side note, the traditional workaround works:
`brew reinstall -s php56-event php56-http`
but a formula/bottle fix would be better.

[2017-04-10 20:00] javian commented on #4104
Thanks for the report @BenjaminHCCarr ! If you notice that a build from source solves the issue we need to regenerate the bottles for the formula. You can help doing a pull request with an added (or increased) revision number. You can see an example here https://github.com/Homebrew/legacy-homebrew/pull/47430/files . Would you mind taking that on ?

[2017-04-10 20:00] #4088 closed

[2017-04-10 20:17] javian commented on #4009
Closing due to no response.

[2017-04-10 23:01] BenjaminHCCarr commented on #4104
Done, oddly it wouldn't let me do 4 patches on one PR for some reason. So fortunately/unfortunately you get four PRs.

[2017-04-10 23:04] BenjaminHCCarr commented on #4104
Oh, one other comment; you said to look at:

https://github.com/Homebrew/legacy-homebrew/pull/47430/files

But when I was look for examples in the `homebrew-php` Formulas; the `revision X` was in the bottle section:
https://github.com/Homebrew/homebrew-php/blob/master/Formula/php55-gmp.rb

I did it the way you mentioned, after `sha256`/`version`,  and it might just be the bot rebuild count in the

[2017-04-11 08:41] javian commented on #4104
@BenjaminHCCarr the general rule is never to touch the bottle block since it is automatically updated and generated by the brewbot. Any user initiated revision should be in the place you put it, after the sha. Thanks for putting in the PRs! Can you check that everything seems ok now ?

[2017-04-11 08:59] khkramer commented on #2390
I have the same issue.
Reinstalling without imap fixes the issue.
Which is pretty annoying since I have to recompile each time I have to work on a project which uses imap..

[2017-04-11 12:32] BenjaminHCCarr commented on #4104
Thanks for clearing that up about the stanzas, so bottlebot keeps it's one internal counter I guess.

RE: https://github.com/Homebrew/homebrew-php/pull/4108#issuecomment-293189909

It wouldn't let me do a PR of patch-[1-4] see: https://github.com/Homebrew/homebrew-php/issues/4104#issuecomment-293103111

Most maintainers make you squish-squash, and contrort! :)

[2017-04-11 12:32] #4104 closed

[2017-04-11 16:29] sbahr001 commented on #4076
Any update? My work uses mysql_connect :(

[2017-04-12 21:20] #4009 closed

[2017-04-13 08:21] javian commented on #4076
I've submitted a fix for this now since php was lacking the mysql dependency. Will merge later today.

[2017-04-13 08:53] javian commented on #4076
This should fix it - have a go and test it. I'm closing the ticket but feel free to open it again if you keep having issues.

[2017-04-13 08:53] #4076 closed

[2017-04-13 08:55] #3961 closed

[2017-04-13 11:22] javian commented on #4104
@BenjaminHCCarr it shouldn't matter if you do 1 patch with 4 changes or 4 patches with 1 change each - both should work.

[2017-04-13 17:36] JohnnyWalkerDesign commented on #4071
Just wondering. Is there a reason why composer has a dependency requirement on php70 and not php71? 71 is the current stable version of php after all.

[2017-04-14 08:51] javian commented on #4071
@JohnnyWalkerDesign I think this is a leftover from when we published the formula for the pre-stable versions of php 7.1. We can probably change that now but then doing `brew install php70 composer` would not work either so there's still an issue with the dependency. I would be tempted to remove the php dependency completely from the composer formula since I believe it might not be necessary anymo

[2017-04-14 10:17] JohnnyWalkerDesign commented on #4071
@javian Awesome. If you can remove the dependency I guess that would solve everything.

[2017-04-18 17:00] hengsoheak opened #4121 "Extensions directory wrong after in stall"
OSX: MacOS Sierra
version: 10.12.4
PHP version 7.0 , 5.6, 5.3
But i want to used 7.0

Afer I used brew search php70 I found many php extensions so I try to install all thos

`brew install homebrew/php/php70-scrypt homebrew/php/php70-uopz homebrew/php/php70-geoip homebrew/php/php70-intl homebrew/php/php70-mecab homebrew/php/php70-pdo-pgsql homebrew/php/php70-snmp
`
But after I change thos extension

[2017-04-18 17:02] hengsoheak commented on #4121
[code]

[2017-04-18 20:59] javian commented on #4121
For your first error it looks like you are using the thread safe version of php with a non thread safe bottle. All bottled formulas are compiled against the non thread safe version so if you want to use them you need to compile them from source using the `-s` flag.

For your second error can you run `which php-fpm` and paste the output just to verify that you are using the homebrew one ?

[2017-04-20 10:46] morrislaptop commented on #3951
This just has happened to be on a fresh install?

[2017-04-20 12:38] Choate opened #4123 "brew install codeception phar sha1 signature could not be verified"
## Description

_Problem description goes here_

## Context and Logs

Parameter | Value
--------- | ------------------
**macOS version:**       | _10.12.4_
**Homebrew version:**   | _Homebrew 1.1.12_
**PHP version in use:** | _PHP 7.1.3_
**Xcode version:**      | _Xcode 8.3.2_

**Output of `gcc -v`:**
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/

[2017-04-21 14:38] adeonir commented on #4009
Removing folder /usr/local/opt/php56 and reinstalling worked.

[2017-04-21 15:43] tfe2012 commented on #4015
Reason: Incompatible library version: libphp7.so requires version 6.0.0 or later, but libaprutil-1.0.dylib provides version 4.0.0

$ which apachectl

return:

/usr/sbin/apachectl

$ grep HTTPD /usr/sbin/apachectl
HTTPD='/usr/sbin/httpd'
    $HTTPD -t
    $HTTPD "$@"

[2017-04-24 02:48] angelxmoreno commented on #4066
even when trying to reinstalling php56 i was getting the nasty
[code]

but I ran `xcode-select --install` and saw something about not having xcode-cli or something like that. Point is that the missing libz went away. I reinstalled php56 ( though I might not have had to ).

Everything is as expected and i can install `php56-sphinx` its dependencies and module that depend on it.

[2017-04-25 08:49] merkjs opened #4133 "Can't install with deprecated mysql support (mysql_)"
## Description

I know, it's deprecated but sometimes i need that library. What I have tried so far;

brew install php56
brew install php56 --with-libmysql

Both of them not installing php with mysql support. Is there an another way to do it or something wrong with me?

Thanks

## Context and Logs

Parameter | Value
--------- | ------------------
**macOS version:**       | 10.12.4
**Homebrew versi

[2017-04-25 09:47] aivus opened #4134 "Unable to load dynamic library php70-mcrypt"
## Description

After `brew update && brew upgrade` I got broken php70-mcrypt.
I'm getting warnings and can't use mcrypt.
[code]

As a workaround I ran `brew reinstall -s php70-mcrypt` and it works fine for now.
But looks like binaries are broken.

## Context and Logs

Parameter | Value
--------- | ------------------
**macOS version:**       | 10.12.4
**Homebrew version:**   | Homebrew 1.1.13 Home

[2017-04-25 19:15] snag12 opened #4135 "PHP 7.1 installation with httpd24 fails"
## Description

`brew install php71 --with-httpd24` fails with the following output

[code]

## Context and Logs

Parameter | Value
--------- | ------------------
**macOS version:**       | 10.12.4
**Homebrew version:**   | Homebrew 1.1.13 Homebrew/homebrew-core (git revision de7b; last commit 2017-04-25)
**PHP version in use:** | None
**Xcode version:**      | Xcode 8.3.2 Build version 8E2002

**

[2017-04-25 20:25] snag12 commented on #4135
`/usr/include/ext/` was the remnant of an older PHP install. Deleting that folder solved the problem

[2017-04-25 20:25] #4135 closed

[2017-04-25 20:26] javian commented on #4135
I was just about to say that =) you should listen to `brew doctor` ^^

[2017-04-25 20:27] snag12 commented on #4135
@javian Thank you for taking time and looking at this.

[2017-04-25 20:27] javian commented on #4134
A fix for this is waiting to be merged but the CI system is currently not working correctly so I need some support from the homebrew team to get it working again.

[2017-04-25 20:35] javian commented on #4133
I committed a fix for this about a week ago since someone else asked the question. I just realised that the code doesn't run for php5.5 and above. It was removed in php7 so it should work in 5.6 and below so I will submit a PR to fix that.

[2017-04-25 21:54] javian commented on #4133
It should work now - can you test it again please ?

[2017-04-26 00:54] BePsvPT commented on #4123
@Choate could you please try to install codeception again and check whether it is still having this error or not.

[2017-04-26 08:57] merkjs commented on #4133
It works now.

`brew reinstall php56 --with-httpd24 --with-libmysql`

Thanks!

[2017-04-26 09:30] Choate commented on #4123
@BePsvPT Yes there is this error .

[code]

[2017-04-26 11:54] BePsvPT commented on #4123
@Choate, please try the following commands

[code]

[2017-04-26 14:07] javian commented on #4133
You're welcome!

[2017-04-26 14:07] #4133 closed

[2017-04-26 16:26] electricBonfire commented on #4133
Will this work with MariaDB?

When I run `brew reinstall php56 --with-httpd24 --with-libmysql` I get the following error:  `Cannot install mysql because conflicting formulae are installed.

  mariadb: because mysql, mariadb, and percona install the same binaries.`

[2017-04-26 16:53] merkjs commented on #4133
@electricBonfire Yes, it should work. MariaDB acts exactly like MySQL and this problem was related to PHP not to database.

Can you please try full uninstall and reinstall all the stack and use MySQL (at least development environment) if you don't really need MariaDB.

[2017-04-26 17:24] electricBonfire commented on #4133
Thats what I figured, it just wont install using `MariaDB` to satisfy the mysql dependency.
I have moved my `MariaDB` install and reinstalled `MySQL`. It is working now.

I do need `MariaDB` for a project, it allows for larger unique key parts.
I guess I should theoretically be able to uninstall `mysql` with `--ignore-dependencies` and then reinstall `MariaDB`.

[2017-04-26 19:49] javian commented on #4133
I hadn't thought about this. There is a hard dependency in the formula for mysql but that can be changed to accommodate mariadb (and percona) as well

[2017-04-26 20:28] javian commented on #4134
This should now be corrected for all php versions.

[2017-04-26 20:28] #4134 closed

[2017-04-26 20:29] javian commented on #4071
The dependency is now gone and replaced with a caveat.

[2017-04-26 20:29] #4071 closed

[2017-04-26 20:30] javian commented on #4121
@hengsoheak do I take your thumbs up as it is now solved ? =)

[2017-04-27 08:47] htollefsen commented on #4011
I had this same issue on Sierra 10.12.3, Homebrew 1.1.13, xcode 8.3.2. Quickfixed it by reinstalling the module: `brew remove php71-imagick && brew install php71-imagick`.

[2017-04-27 09:30] Choate commented on #4123
@BePsvPT still can not

[code]

[2017-04-27 13:07] javian commented on #4123
@Choate your issue looks similar to https://github.com/sebastianbergmann/phpunit/issues/1694 - do you have suhosin installed ?

[2017-04-27 13:11] rbrown opened #4139 "php70-intl sierra bottle not installing config file"
## Description

brew install php70-intl installs the bottle, the bottle doesn't install the config files

[code]

installing with -s does install the config file.

## Context and Logs

Parameter | Value
--------- | ------------------
**macOS version:**       | 10.12.5
**Homebrew version:**   | Homebrew 1.1.13-139-g698afa2ba
**PHP version in use:** |PHP 7.0.18 (cli) (built: Apr 16 2017 12:16:19) (

[2017-04-28 02:34] Choate commented on #4123
@javian no install suhosin.

download the package from the link http://codeception.com/codecept.phar to work properly

[2017-04-30 10:08] javian commented on #2475
Issue resolved and no additional feedback provided. Closing.

[2017-04-30 10:08] #2475 closed

[2017-05-02 00:27] bostonmacosx opened #4144 "Unable to recognize another user for pool usage in PHPFPM"
## Description

Unable to start PHPFPM with any other user defined in a pool definition.

[client_ellen]

; Unix user/group of processes
; Note: The user is mandatory. If the group is not set, the default user's group
;       will be used.
user = poolellen
group = pools

listen = 127.0.0.1:9001

listen.mode = 0666

pm = dynamic

pm.max_children = 10

pm.start_servers = 3

pm.min_spare_servers = 2

[2017-05-02 06:06] Blackskyliner commented on #3686
homebrew-boneyard was deprecated, so I guess the (old) packages will stay in this repository or what is the plan now?

https://github.com/Homebrew/homebrew-boneyard/commit/98b68c6b34a8d55caffd418c4940b397a60178ce

[2017-05-02 06:09] alcaeus commented on #3686
From what I read in homebrew/homebrew-boneyard#314, `brew install` will find deleted formulae, so we could safely remove them here.

[2017-05-03 05:49] Blackskyliner commented on #3686
Okay, but everyone who wants to use the old formulae/versions must then maintain their own tap otherwise it can't be installed, just to give an example of the first submention in your provided reference where 'libiomp' was discussed about not installable anymore (because there is no maintained tap available and boneyard was deprecated):

[code]

A load of git tap repos could be created because of

[2017-05-03 06:15] alcaeus commented on #3686
We're not talking about PHP 5.6 which has security support only. We're talking about 5.3 and 5.4, which have been EOL for almost 3 years and 2 years, respectively. If it gets harder for people to install these legacy versions, I'm ok with it. One of the reasons this was delayed was to possibly create a php boneyard to avoid polluting the boneyard tap with lots of php extensions. It's up to @javian

[2017-05-03 13:46] RiseAndCry commented on #2390
Same problem here... running php-fpm as root works, but yeah, can't use that in production.

almost 2 years passed and still no resolution...

[2017-05-04 07:12] nkuhan commented on #4011
`brew uninstall --ignore-dependencies php56 `
then close and open the terminal works for me for the version 5.6

[2017-05-04 23:51] PascalZajac commented on #4139
I just ran into this today, can confirm that running `brew install -s php70-intl` solves the issue temporarily.

[2017-05-10 21:13] javian commented on #4144
@bostonmacosx how do you start fpm ? Where did you place the poolellen config ? Are you running fpm as root ?

[2017-05-10 21:19] bostonmacosx commented on #4144
Hello there....it is started as root....through a LaunchDaemon on OSX.....
it was located in the php-fpm.conf file in the /etc/php/5.6 directory

`_www            30097   0.0  0.1  2524084  25016   ??  S     9:43AM   0:27.16 /usr/local/opt/php56/sbin/php-fpm --fpm-config /usr/local/etc/php/5.6/php-fpm.conf
_www             7362   0.0  0.1  2490032  23964   ??  S    Tue08AM   0:36.21 /usr/local/opt

[2017-05-14 17:09] jxsl13 commented on #3896
had the same problem
 ` $ php --ini
PHP Warning:  Module 'pdo_pgsql' already loaded in Unknown on line 0

Warning: Module 'pdo_pgsql' already loaded in Unknown on line 0
Configuration File (php.ini) Path: /usr/local/etc/php/7.1
Loaded Configuration File:         /usr/local/etc/php/7.1/php.ini
Scan for additional .ini files in: /usr/local/etc/php/7.1/conf.d
Additional .ini files parsed:      /usr/l

[2017-05-15 04:20] javian commented on #4144
@bostonmacosx the config seems to hint that you should seperate the pools in the conf.d directory. Is that what you have done ?
[code]

[2017-05-15 10:48] ruho commented on #3633
I've also got this problem

[2017-05-17 07:14] jk2K commented on #3645
closed by https://github.com/Homebrew/homebrew-php/pull/4143

[2017-05-17 07:14] #3645 closed

[2017-05-17 16:44] NinoSkopac commented on #1899
I have the same problem.

mac os sierra
openssl OpenSSL 0.9.8zh 14 Jan 2016
php 5.6.30

Trying to connect to DB via SSL

[2017-05-18 06:41] teslamint opened #4166 "php71-libsodium fails to install on macOS Sierra"
## Description

configure fails with `configure: error: wrong libsodium lib version or lib not found` message

## Context and Logs

Parameter | Value
--------- | ------------------
**macOS version:**       | 10.12.5
**Homebrew version:**   | Homebrew 1.2.1-7-g2b726383f1
**PHP version in use:** | 7.1.5
**Xcode version:**      | Xcode 8.3.2 8E2002

**Output of `gcc -v`:**
[code]

**Output of `php -v

[2017-05-18 18:39] moogah opened #4167 "brew tap results in an "Error: Non-symlink alias""
## Description

running brew tap homebrew/homebrew-php results in

[code]

The reason seems to be that the folder never gets created:

[code]

[2017-05-18 19:06] javian commented on #4167
Thanks for the report @moogah . We are seeing some issues with aliases which might be related to this and we're looking into it.

[2017-05-18 19:18] javian commented on #4166
@teslamint I can't reproduce this on my machine I'm afraid. This is my output
[code]

[2017-05-18 19:19] javian commented on #4166
Just to double check, what does `brew info libsodium` output ?

[2017-05-18 19:29] javian commented on #3896
@jxsl13 that should only happen if you installed php with `--with-postgres`

[2017-05-18 19:35] javian commented on #1899
@NinoSkopac I thinkt its easiest if you open a new issue and supply the config that's requested. I'm locking this issue so if anyone else is having this issue then please follow the same procedure =)

[2017-05-18 21:40] teslamint commented on #4166
[code]

[2017-05-18 21:49] teslamint commented on #4166
building php{56,70}-libsodium from source also get same error.

[2017-05-20 17:27] mtangoo commented on #4139
It works under El Capitan too

[2017-05-20 20:18] humipine opened #4170 "Syntax error on line 245 of /usr/local/etc/apache2/2.4/httpd.conf"
## Description

I installed, using Homebrew, Apache, MySQL, and PHP to my Mac OS Sierra.
after installing PHP 5.6.30, I started apache on Terminal, and the following error came up;

"AH00526: Syntax error on line 245 of /usr/local/etc/apache2/2.4/httpd.conf:
DocumentRoot '/usr/local/opt/httpd24/Users/whoo/htdocs' is not a directory, or is not readable
macwhoo:~ whoo$ sudo apachectl restart
AH00526

[2017-05-21 10:37] javian commented on #4167
@moogah can you check if this is resolved now ?

[2017-05-22 16:22] moogah commented on #4167
`brew tap homebrew/homebrew-php` results in the same errors unfortunately.

[2017-05-22 21:19] javian commented on #4167
Can you paste your `brew config` ?

[2017-05-23 13:45] Voyager-One commented on #3896
@jxsl13 that fixed! thank you :)

[2017-05-23 20:28] javian commented on #4167
This might be related to the alias bug that we found which should be fixed once 1.2.2 is released. What do you think @JCount ?

[2017-05-23 20:51] moogah commented on #4167
Here is my brew config:

[code]

[2017-05-23 21:06] kenorb opened #4185 "ERR_EMPTY_RESPONSE on localhost:9000"
## Description

I've successfully installed php71 on macOS Sierra, but when I'm accessing http://localhost:9000/ which is showing ERR_EMPTY_RESPONSE in Chrome. I've followed instruction from `brew info php71`, loaded via `launchctl`, started service and it's successfully listening on 9000. I've no errors in log file, the service is running, I can telnet to 9000, but the page doesn't load. Any sugg

[2017-05-23 21:45] javian commented on #4185
You can see a guide to use fpm with apache with homebrew here https://lukearmstrong.github.io/2016/12/setup-apache-mysql-php-homebrew-macos-sierra/ . As far as I can tell you are not supposed to query the fpm port directly in the way you are doing.

[2017-05-23 21:50] javian commented on #4167
And your `brew doctor` doesn't give away anything that might be related ?

[2017-05-23 21:52] kenorb commented on #4185
Is Apache mandatory to install? It appears on optional list.

[2017-05-23 22:03] JCount commented on #4167
@moogah Could you try tapping, yet again, using the command `brew tap homebrew/php -vd`, and post the output here? I know what part of the code is generating the errors you are seeing, but I have no real idea why.

[2017-05-23 22:04] kenorb commented on #4185
Ok, fine, probably you're right. I'll use PHP builtin server then, e.g.

    php -S localhost:8000

Thanks.

[2017-05-23 22:04] #4185 closed

[2017-05-24 15:24] JCount commented on #4167
@moogah The most likely cause of this is you git configuration settings. Try running `git config --global --unset core.symlinks`, and see if that fixes your problem. If not, then the output created from the command in my last comment would be very helpful.

[2017-05-25 08:03] javian commented on #4185
apache or nginx would be the most popular options but there might be others but if you can use the built in server that's probably the easiest way host the files

[2017-05-25 18:01] moogah commented on #4167
Ah!  Thanks for your help, core.symlinks was set to false in my config and removing that seems to have fixed this.

[2017-05-25 18:47] justnealpatel commented on #4011
Has anyone found a fix to this yet? I'm running PHP 5.6.30, Sierra 10.12.4, and this same issue still occurs. I've tried all the above solutions.

This is what I get specifically.
[code]

I even tried to supply the path to the extension yet it still doesn't find it.

[2017-05-25 18:51] JCount commented on #4167
@moogah I am glad to hear that this is now fixed for you. Therefore, I am going to close this issue as resolved.

[2017-05-25 18:51] #4167 closed

[2017-05-26 06:42] javian commented on #4011
@justnealpatel that's a different issue since you are trying to load extensions that comes with sierra and not the homebrew ones. Open a seperate issue if you keep having problems.

[2017-05-27 14:49] HotWordland opened #4192 "PHP 7.1 installation brew install php71 --with-httpd24 fails"
## Description

run:
[code]
and fails
[code]
this line
[code]
the path should error. how to fix it?

Parameter | Value
--------- | ------------------
**macOS version:**       | _10.12.4 _
**Homebrew version:**   | _1.2.1_
**PHP version in use:** | _5.6.30_
**Xcode version:**      | _8.3.2_

**Output of `gcc -v`:**
_result of the CLI output_

**Output of `php -v`:**
_result of the CLI output_

**Bu

[2017-05-31 09:41] ptica commented on #3714
I've stayed away from sierra specifically for not falling into problems like this,
but brew did an upgrade of php56 and here I am, configuring php once again

-- version 5.6.30_6 has broken existing setup with system apache on el capitan

if you have client work to do, just point your system apache to old module located by
[code]
and properly resolve the issue later

[2017-05-31 17:03] ben29 commented on #4192
i get the same probkem..
any update on this error?

[2017-06-01 16:32] altaraven commented on #4192
the same

[2017-06-03 08:40] javian commented on #4170
Yes, that's not a bug but a feature https://httpd.apache.org/docs/2.4/mod/core.html#documentroot . If `DocumentRoot` is a relative path its prepended with `ServerRoot`.

[2017-06-03 08:42] javian commented on #4192
@altaraven don't mix up the issues - that one is not related to this from what i can see here.

@HotWordland can you post the build log that asked for at the bottom of the issue ?

[2017-06-06 00:07] daniel-zahariev commented on #4011
I just experienced the same issue and removing and installing again the gcloud component `app-engine-php-darwin` fixed this for me.

[2017-06-06 00:47] josegonzalez commented on #4011
@daniel-zahariev this repository isn't for google cloud, but for managing php installations on OS X.

[2017-06-08 14:55] Schrank opened #4210 "Support for PHP 7.2"
**php-7.2.0alpha1 is out!**

http://news.php.net/php.internals/99452

It would be great if you support PHP 7.2. Unfortunately I have no clue how to implement this, but if someone guide me, I would love to help implement support for it.

[2017-06-08 15:01] alcaeus commented on #4210
If you want to add it yourself, you can take a look at #3274, which introduced 7.1.0alpha1 - just follow the diff there. If you don't want to try it yourself, I can add it sometime tomorrow.

[2017-06-08 15:32] romainneutron commented on #4210
FYI I'm going to submit PHP72 formula with most of extensions

[2017-06-08 15:33] Schrank commented on #4210
Just started with it. Then I'll give it over to you and stop here :-) Thank you very much!

[2017-06-08 15:34] Schrank commented on #4210
If you need any support @romainneutron tell me! But until now it looks like a lot of copy and paste :-)

[2017-06-08 15:48] romainneutron commented on #4210
See #4211

[2017-06-08 20:35] javian commented on #4166
Could you try reinstalling libsodium ? Also try to reinstall it from source if the bottle doesn't work.
Is the libsodium library
I've tried two different systems and none of them experience this issue so I would assume its local to your machine.

[2017-06-09 05:41] teslamint commented on #4166
Still not working.
libsodium build logs: https://gist.github.com/teslamint/1c84fce49c287322480108a084667a97

[code]

[2017-06-09 05:55] teslamint commented on #4166
If I clone the upstream and do `phpize && ./configure`, then it works.

[code]

[2017-06-12 21:16] neohunter opened #4216 "upgraded and all my setup got broken"
I'm running El Capitan.

Was using factory osx apache with brew php55. I installed php-imagick and everyhting stop working.

`sudo apachectl -T` says:

[code]

Checking, the file does not exist.

Reading the `brew info php55` says that it not longer comes with the .so extensions if i try to install with http24 it intall this formula `homebrew/apache/httpd24` which im not interested.

How I can use

[2017-06-13 10:53] d8bhatta commented on #2443
I my case the ini file is created /usr/local/opt/php56-apcu/apcu.so but still I cannot see apcu in php.ini
$ ls -al /usr/local/etc/php/5.6/conf.d/
total 24
drwxr-xr-x  5 c_dbhatta  admin  170 Jun 13 16:36 .
drwxr-xr-x  7 c_dbhatta  admin  238 Mar 13 16:48 ..
-rw-r--r--  1 c_dbhatta  admin  149 Jun 13 16:36 ext-apcu.ini
-rw-r--r--  1 c_dbhatta  admin   62 Mar 13 16:48 ext-imagick.ini
-rw-r--r--  1

[2017-06-13 12:05] gidomanders commented on #3589
What helped for me was to replace the Apache that comes with OS X, with the homebrew version:
[code]

[2017-06-14 12:09] Preclowski commented on #2766
Actually any of solutions doesn't work :(

[2017-06-15 02:54] morloderex commented on #4210
Any way we can try out the new argon2 stuff?

[2017-06-15 04:44] javian commented on #4210
@morloderex that would have to be added to the formula since it requires libargon2 for it to work.

[2017-06-15 12:18] indapublic commented on #2766
[code]

And all is fixed. Thanks to all above

[2017-06-15 15:07] james2doyle commented on #2766
Yeah, this is still happening. I get it every time `imagick` is updated.

[2017-06-15 17:33] julianstefanov commented on #3633
Just run:
xcode-select --install
and then everything will be fine
At least for me, that was the problem. I forgot to install the command tools.

[2017-06-15 19:15] morloderex commented on #4210
@javian How do we do that? :D

[2017-06-15 20:23] javian commented on #4210
@morloderex You need to submit a PR against https://github.com/Homebrew/homebrew-php/blob/master/Abstract/abstract-php.rb . If you look at how webp has been implemented the argon2 stuff should be very similar. You need to put an optional dependency towards the argon2 formula and add an add the right command line option if the argon2 command line switch has been used. Does that make sense?

[2017-06-15 22:24] morloderex commented on #4210
@javian
I have now hacked a bit on this to try and add an option called --with-argon2 that adds this configuration option to the compiler but with no luck so far.

Can you take a look at my master branch on my fork of this project and guide me a bit more?

It just doesn't seem to get added (i have verified this with the brew build-logs command) 👍  So getting a little bit of the hang of this.

[2017-06-16 12:44] ThauEx opened #4224 "php71-intl / ICU issue"
## Description

When I try to use some function form the intl module, I'm getting a warning regarding the `ICU transliterator`.

Here is a sample script: (I'm running `php test.php`)

test.php
[code]
expected output:
`string(4) "HoHa"`

real output:
[code]

I tested it with a prebuild version from here (http://php-osx.liip.ch/) and this one is working fine. I already tried to build icu4c, php71-in

[2017-06-16 13:25] alcaeus commented on #2766
See #4225. FWIW, you don't need to uninstall and clean as @indapublic suggested, a simple `brew reinstall -s php<your-version-here>-imagick` does the trick.

[2017-06-16 17:08] thierrymarianne commented on #2529
@sergiu-popa Thank you!

[2017-06-17 06:58] javian commented on #4224
That ID doesn't seem to exist. Run `php -r "var_dump(transliterator_list_ids());"` and it will list everything that is available in intl.

[2017-06-17 07:02] javian commented on #4210
@morloderex it might be easier if you submit the PR as is and I/we can comment on it there . I'll also close this issue once the rest of the formulas have been created for 7.2.

[2017-06-17 07:04] javian commented on #4166
What does `brew doctor` say?

[2017-06-17 07:17] teslamint commented on #4166
[code]

[2017-06-19 12:00] Preclowski commented on #2766
As I said, it doesn't work. Even with cleanup.

[2017-06-19 15:47] ellisio opened #4227 "PHP 7.1.6"
When can we expect PHP 7.1.6 to hit the repo? It's been out since June 8th. Cheers.

[2017-06-19 21:30] javian commented on #4227
Hi @ellisio - we are dependent on the community to help support the contribution of version upgrades so please feel free to submit a pull request to include the new version. You can see how one is done by looking at the previous commit of the 7.1 series - https://github.com/Homebrew/homebrew-php/commit/45854ffe8d1f99286e501b30f2bdf101e5ae5a98 and don't hesitate to ask any questions in here or in t

[2017-06-20 04:51] alcaeus commented on #4227
That flew right by my head - see #4229 and #4230.

[2017-06-20 10:53] xxlv commented on #2390
So,finally, How to fix this?

[2017-06-20 17:25] vesper8 commented on #2766
@Preclowski `brew reinstall -s php71-imagick` solved it at once for me.. surprised it's not working for you

[2017-06-22 18:26] externl opened #4282 "include_path missing from generated config file"
## Description

When generating config files, homebrew-php does:

[code]

It would be nice for it to also include `include_path=`, eg:

[code]

[2017-06-22 21:16] jpmurray opened #4283 "php71-ssh2 installs, but php has trouble loading it"
## Description

I've installed php71-ssh2, but it won't load. Trying to invoque anything php will give error, for example:

[code]

## Context and Logs

Parameter | Value
--------- | ------------------
**macOS version:**       |10.12.6
**Homebrew version:**   | Homebrew 1.2.3. Homebrew/homebrew-core (git revision a88f; last commit 2017-06-22)
**PHP version in use:** | 7.1.5

**Output of `gcc -v`:*

[2017-06-25 21:20] javian commented on #4282
what difference would that make ? The module_path is hardcoded so I can't see why it would add any benefit.

[2017-06-25 21:20] #4227 closed

[2017-06-25 21:20] javian commented on #4227
This has been merged now.

[2017-06-26 14:23] javian commented on #4283
Your answer is here
[code]
You need to compile the module with the same option(s) as php is compiled with. In this case you have debug enabled on PHP but not in the module. Reinstalling the module from source might solve it `brew reinstall php71-ssh2 -s` .

[2017-06-26 14:23] externl commented on #4282
The `module_path` is the location to the dynamic library extension loaded by the PHP runtime. The `include_path` being the location to PHP files. Are you saying that PHP looks in the directory of the file specified by`extension=` for PHP files by default?